<div class="static-page--header">
  <h1 class="static-page--heading">Til lærerne</h1>
</div>
<div class="static-page--content-wrapper">
  <div data-ng-include="" include-replace src="'/partials/om-projektet/snippets/static-page-nav.html'" id="top"></div><!--
--><div class="static-page--content">
    <h2 class="static-page--sub-heading">Til lærerne</h2>
    <section class="static-page--section">
      <p>Kære underviser i udskolingen</p>
      <p>Alle unge over 15 er nu digitale borgere og vi har et fælles ansvar for at styrke dem i det!</p>
      <p>Det er politisk besluttet, at al kommunikation med det offentlige skal digitaliseres. Det betyder, at alle over
        15 år skal have et NemID, og at de har en digital postkasse, hvor de modtager al
        kommunikation fra det offentlige.</p>
      <p>De unge skal vide dette og være klar til det. Det betyder, at de ikke blot skal have et NemID, de skal også
        vide hvorfor, hvordan og hvad de skal bruge det til. Forhåbentlig vil de også reflektere over, hvad
        digitalisering betyder for dem og for samfundet i det hele taget.</p>
      <p>Vi har lavet denne hjemmeside som et redskab til at undervise i digitalisering i udskolingen. Hjemmesiden er
        platform for undervisningskonceptet Digital ABC. </p>
      <p>Digital ABC er udviklet af Aarhus Kommune. Unge fra udskolingsklasser i Aarhus har været drivkraft, samskabere og
        idémagere igennem hele processen, og konceptet er kvalitetstestet af lærere og medarbejdere fra Borgerservice og Biblioteker..</p>
      <p>På opfordring fra de unge indeholder konceptet quiz, konkurrence, mulighed for undervisning udenfor skolen,
        mulighed for brug af sociale medier og humor, men også reelle handlemuligheder.</p>
      <p>På opfordring fra de involverede lærere er undervisningskonceptet skalérbart, dvs. at man kan vælge at bruge
        hhv. 1, 2 eller 4 lektioner på det. Det kan bruges tværfagligt og involverer medier som film, billeder,
        tekstskrivning og sociale medier. Konceptet rummer samtidig mulighed for dybere refleksion over de
        samfundsmæssige konsekvenser af digitalisering. Alle dele af konceptet lever op til ”Nye forenklede fællesmål” 
        fra Undervisningsministeriet.</p>
      <p>I finder undervisningsvejledninger her på hjemmesiden, hvor I også kan finde links til borger.dk, demomiljø i
        digitale selvbetjeningsløsninger og grafisk materiale til brug i undervisningen.</p>
      <p>I skal være opmærksomme på, at hvis jeres elever skal oprette NemID i undervisningen, skal de bruge et gyldigt
        pas. Hvis de opretter den lokale borgerservice eller det lokale bibliotek, skal de bruge et billede eller kopi af gyldigt pas 
        eller sygesikringsbevis samt dåbs- eller navneattest.</p>
      <p>God fornøjelse med Digital ABC.</p>

      <p>Med venlig hilsen</br>
      Kommunen</p>
    </section>
  <a href="#top" du-smooth-scroll class="static-page--top-link">Til toppen af siden</a>
  </div>
</div>
