<div class="static-page--header">
  <h1 class="static-page--heading">Til lærerne</h1>
</div>
<div class="static-page--content-wrapper">
  <div data-ng-include="" include-replace src="'/partials/om-projektet/snippets/static-page-nav.html'" id="top"></div><!--
--><div class="static-page--content">
    <h2 class="static-page--sub-heading">Til lærerne</h2>
    <section class="static-page--section">
      <p>Kære underviser i udskolingen</p>
      <p>Alle unge over 15 bliver digitale borgere og vi har et fælles ansvar for at ruste dem til det!</p>
      <p>Det er politisk besluttet, at al kommunikation med det offentlige skal digitaliseres. Det betyder, at alle over 15 år skal have en NemID og en aktiveret digital postkasse inden d. 1. november, hvor det offentlige begynder at sende post til den personlige digitale postkasse.</p>
      <p>Digital ABC er blevet til i et samarbejde mellem Aarhus Kommunes Borgerservice og Biblioteker og magistraten for Børn og Unge, Center for Læring. Unge fra udskolingsklasser i Aarhus har været drivkraft, samskabere og idémagere igennem hele processen omkring udvikling af undervisningskonceptet. Der har desuden deltaget lærere og medarbejdere fra Borgerservice og Biblioteker.</p>
      <p>På opfordring fra de unge indeholder konceptet quiz, konkurrence, mulighed for undervisning udenfor skolen, mulighed for brug af sociale medier og humor, men også reelle handlemuligheder.</p>
      <p>På opfordring fra de involverede lærere er undervisningskonceptet skalérbart, dvs. at man kan vælge at bruge hhv. 1, 2 eller 4 lektioner på det. Det kan bruges tværfagligt og involvere medier som film, billeder, tekstskrivning og sociale medier. Konceptet rummer samtidig mulighed for dybere refleksion over de samfundsmæssige konsekvenser af digitalisering.
      Center for Læring har været en stærk del af samarbejdet og har sikret, at alle dele af konceptet lever op til ”Nye forenklede fællesmål” fra Undervisningsministeriet.</br>
      I finder undervisningsvejledninger her på hjemmesiden, hvor I også kan finde links til borger.dk, demomiljø i digitale selvbetjeningsløsninger og grafisk materiale til brug i undervisningen.</p>
      <p>I skal være opmærksomme på, at når jeres elever skal oprette NemID i undervisningen, skal de bruge et gyldigt pas. Hvis de opretter det hos Borgerservice og Biblioteker, skal de bruge gyldigt pas eller sygesikringsbevis samt dåbs- eller navneattest.</p>
      <p>Vi vil gerne kunne justere konceptet løbende, så evt. feedback kan sendes til <a href="mail:kontakt@digitalabc.dk">kontakt@digitalabc.dk</a>.</p>
      <p>God fornøjelse med konceptet.</p>
      <p>Med venlig hilsen</br>
      Kommunen</p>
    </section>
  <a href="#top" du-smooth-scroll class="static-page--top-link">Til toppen af siden</a>
  </div>
</div>
