<div class="static-page--header" id="top">
  <h1 class="static-page--heading">Digital Parathed (1 Lektion)</h1>
</div>
<div class="static-page--content">
  <h2 class="static-page--sub-heading">Digital Parathed (1 Lektion)</h2>
  <section class="static-page--section">
    <h3 class="static-page--paragraph-heading">Motivation</h3>
    <p>
      Det er politisk besluttet, at alle unge over 15 ved udgangen af november 2014 skal have et NemID og en aktiveret
      digital postkasse – de bliver digitale borgere!
      Det er vigtigt, at de unge ved dette, og at de øver sig i digital selvbetjening, for det er kanalen til
      kommunikation mellem det offentlige/kommunen og borgerne i fremtiden.
    </p>
    <p>
      Det offentlige begynder at sende post til de unges digitale postkasse fra november 2014, og hvis ikke de har
      aktiveret den og tjekker den jævnligt, kan de risikere at gå glip af vigtige beskeder eksempelvis bøder,
      oplysninger om skat eller anden offentlig kommunikation.
    </p>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Øvelsens placering ift. ”Forenklede Fællesmål i faget Dansk”</h3>
      <p>It og Kommunikation, 7.-9. kl.:</p>
      <ul class="static-page--list">
        <li class="static-page--list-item">
          ”Eleven kan handle i forhold til nye digitale udfordringer og betingelser”.
        </li>
        <li class="static-page--list-item">
          "Eleven kan diskutere betydningen af digitale kommunikationsteknologier for eget liv og Fællesskab”.
        </li>
      </ul>
    </section>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Øvelsen</h3>
      <p>
        Underviseren åbner digitalABC.dk på smartboardet. Klassen ser filmene og drøfter information om digital
        selvbetjening. Eleverne kan gå ind og like Facebookgruppen, hvorefter de vil modtage relevant information om
        selvbetjeningsløsninger og kan dele spørgsmål og viden med jævnaldrende i hele kommunen.<br>
        Derefter laves individuelt ”Digitalparathedsquiz”, som består af 15 spørgsmål med tre svarmuligheder.
        Spørgsmålene handler om NemID, Digital Post og Digital Selvbetjening med særlig relevans for unge dvs. i
        forbindelse med ”Rejse”, ”Flytte hjemmefra”, ”Job”, ”Udannelse” og ”Bøder”.<br>
        Spørgsmålene er af varierende sværhedsgrad og eleverne kan orientere sig og finde svarene i demomiljøet på
        hjemmesiden, hvor selvbetjeningsløsningerne findes som demoer.<br>
        Elevenerne opnår til sidst en ”digitalparathedsscore” og kan derefter gå videre til at oprette NemID og aktivere
        deres digitale postkasse – her skal de bruge gyldigt <a href="/#/for-laererne/digital-parathed#pas">pas</a>!<br>
        De kan også dele deres score på Facebook og battle mod f.eks. deres venner, forældre eller kendte.
      </p>
    </section>
    <section class="static-page--section" id="pas">
      <p>Hvis flere elever ikke har pas kan underviseren booke en tid til straksudstedelse på nærmeste lokalbibliotek – se under ”Sidste Omgang”. Her kan eleverne få lavet et NemID, såfremt de medbringer deres sygesikringsbevis samt navne- eller dåbsattest.</p>
    </section>
  <a href="/#/for-laererne/digital-parathed#top" data-scroll class="static-page--top-link">Til toppen af siden</a>
</div>
