<div class="static-page--header">
  <h1 class="static-page--heading">Digital Parathed</h1>
</div>
<div class="static-page--content-wrapper">
  <nav class="static-page--nav">
    <div class="static-page--nav-item-wrapper">
      <a href="/#/for-laererne" class="static-page--nav-item">For lærerne</a>
      <a href="/#/for-laererne/digital-parathed" class="static-page--nav-sub-item is-active">Digital parathed</a>
      <a href="/#/for-laererne/sidste-omgang" class="static-page--nav-sub-item">Sidste omgang</a>
      <a href="/#/for-laererne/farvel-forvalt-lingo" class="static-page--nav-sub-item">#FarvelForvaltLingo</a>
    </div>
  </nav>
  <div class="static-page--content" id="top">
    <h2 class="static-page--sub-heading">Digital Parathed</h2>
    <div class="static-page--summary">
      <p><strong>Varighed:</strong> 1 lektion</p>
      <p><strong>Tværfaglige muligheder:</strong> Samfundsfag, dansk</p>
    </div>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Nødvendige redskaber til gennemførelse</h3>
      <ul class="static-page--list">
        <li class="static-page--list-item">
          Eleverne skal medbringe pas for at kunne bestille NemID over nettet. <a href="/#/for-laererne/digital-parathed#pas"><strong>*</strong></a>
        </li>
        <li class="static-page--list-item">
          Smartboard.
        </li>
        <li class="static-page--list-item">
          Klassesæt af pc’ere med internetadgang og evt. elevernes egne mobiltelefoner.
        </li>
      </ul>
    </section>
    <section class="static-page--section">
      <div data-ng-include="" include-replace src="'/partials/for-laererne/snippets/motivation.html'"></div>
    </section>
    <div data-ng-include="" include-replace src="'/partials/for-laererne/snippets/oevelsens-placering.html'"></div>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Øvelsen</h3>
      <p>
        Underviseren åbner digitalABC.dk på smartboardet. Klassen ser filmene og drøfter information om digital
        selvbetjening. Eleverne kan gå ind og like Facebookgruppen, hvorefter de vil modtage relevant information om
        selvbetjeningsløsninger og kan dele spørgsmål og viden med jævnaldrende i hele kommunen.
      </p>
      <p>
        Derefter laves individuelt ”Digitalparathedsquiz”, som består af 15 spørgsmål med tre svarmuligheder.
        Spørgsmålene handler om NemID, Digital Post og Digital Selvbetjening med særlig relevans for unge dvs. i
        forbindelse med ”Rejse”, ”Flytte hjemmefra”, ”Job”, ”Udannelse” og ”Bøder”.
      </p>
      <p>
        Spørgsmålene er af varierende sværhedsgrad og eleverne kan orientere sig og finde svarene i demomiljøet på
        hjemmesiden, hvor selvbetjeningsløsningerne findes som demoer.
      </p>
      <p>
        Eleverne opnår til sidst en ”digitalparathedsscore” og kan derefter gå videre til at oprette NemID og aktivere
        deres digitale postkasse – her skal de bruge gyldigt pas! <a href="/#/for-laererne/digital-parathed#pas"><strong>*</strong></a>
        De kan også dele deres score på Facebook og battle mod f.eks. deres venner, forældre eller kendte.
      </p>
    </section>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Læringsmål Samfundsmæssigt</h3>
      <ul class="static-page--list">
        <li class="static-page--list-item">
          Eleverne opnår kendskab til og viden om digital selvbetjening, bl.a. NemID og Digital Post, og hvorfor det er relevant og vigtigt for dem.
        </li>
        <li class="static-page--list-item">
          Eleverne får viden om, at digitale kanaler er den fremtidige kommunikations-form med det offentlige.
        </li>
        <li class="static-page--list-item">
          Eleverne reflekterer over egne eller andres behov for kontakt med det offentlige.
        </li>
      </ul>
    </section>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Socialt/samfundsmæssigt</h3>
      <ul class="static-page--list">
        <li class="static-page--list-item">
          Eleverne reflekterer fælles over betydningen af digitale kommunikationsteknologier for eget liv og fællesskab.
        </li>
      </ul>
    </section>
    <section class="static-page--section" id="pas">
      <p><strong>*</strong> Hvis flere elever ikke har pas kan underviseren booke en tid til straksudstedelse på nærmeste lokalbibliotek – se under ”Sidste Omgang”. Her kan eleverne få lavet et NemID, såfremt de medbringer deres sygesikringsbevis samt navne- eller dåbsattest.</p>
    </section>
      <a href="#top" du-smooth-scroll analytics-on class="static-page--top-link">Til toppen af siden</a>
  </div>
</div>
