/**
 *
 * Layouts
 *
 */


/* Header */

.header {
  position: fixed;

  width: 100%;

  &--inner {
    position: relative;
  }

  &--logo {
    position: absolute;
    top: 1.5em;
    left: 1.5em;

    display: block;
    max-width: 15em;
  }

  &--menu {
    position: absolute;
    top: 4em;
    right: 6em;

    display: block;
    max-width: 4em;
  }

  @include breakpoint($breakpoint-lap) {
    &--logo {
      top: 4em;
      left: 6em;

      max-width: 23em;
    }
  }
}


// Quiz header

.quiz-header {
  height: 100%;
  width: 100%;

  background: url('/images/image-flip.jpg') no-repeat;
  text-align: center;

  @include background-size(cover);

  &--inner {
    position: relative;
    top: 50%;

    @include translateY(-50%);
  }

  &--question,
  &--punchline {
    color: $white;
    font-family: 'bebas_neueregular';
  }

  &--question {
    margin-bottom: 0;

    font-size: 4em;
  }

  &--punchline {
    font-size: 10em;
  }

  &--button {
    @extend .button-transparent;

    font-size: 200%;
  }
}
