{% extends 'DigitalABCMainBundle:Default:layout.html.twig' %}

{% block html %}{% endblock %}

{% block title %}Siden blev ikke fundet{% endblock %}

{% block head_attr %}{% endblock %}

{% block meta %}{% endblock %}

{% block body %}
  <div class="error-404">
    <div class="error-404--inner">
      <a title="Siden blev ikke fundet" href="/"><img alt="Siden blev ikke fundet" src="/images/large/poster-404.jpg" class="error-404--image"></a>
    </div>
  </div>
{% endblock %}

{% block scripts %}{% endblock %}
