<div class="static-page--header">
  <h1 class="static-page--heading">Sidste Omgang</h1>
</div>
<div class="static-page--content-wrapper">
  <div data-ng-include="" include-replace src="'/partials/undervisningsmateriale/snippets/static-page-nav.html'"></div><!--
--><div class="static-page--content">
    <h2 class="static-page--sub-heading">Sidste Omgang</h2>
    <p class="static-page--lead">Straksudstedelse af NemID til eleverne</p>
    <div class="static-page--summary">
      <p><strong>Varighed:</strong> max. 2 lektioner</p>
      <p><strong>Tværfaglige muligheder:</strong> Samfundsfag, dansk</p>
    </div>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Nødvendige redskaber til gennemførelse</h3>
      <ul class="static-page--list">
        <li class="static-page--list-item">
          Underviseren skal kontakte den lokale borgerservice eller det lokale bibliotek 
          og lave en individuel aftale om straksudstedelse af NemID enten i klassen eller hos borgerservice/biblioteket. 
        </li>
        <li class="static-page--list-item">
          Da nogle elever sandsynligvis allerede har NemID, kan de, og de der venter på betjening, lave digital
          parathedsquiz og skrive analoge postkort, som Borgerservice medbringer og indsamler til afsending.<br>
          De analoge postkort skrives til nogen eleverne kender, som de synes bør få styr på NemID, det kan f.eks.
          være deres fætter, farmor eller faster på Bornholm.
        </li>
      </ul>
    </section>
    <section class="static-page--section">
      <div data-ng-include="" include-replace src="'/partials/undervisningsmateriale/snippets/motivation.html'"></div>
    </section>
    <section class="static-page--section">
      <div data-ng-include="" include-replace src="'/partials/undervisningsmateriale/snippets/oevelsens-placering.html'"></div>
      <h3 class="static-page--paragraph-heading">Øvelsen</h3>
      <p>
        Borgerservice tilbyder straksudstedelse af NemID til alle elever over 15 samt vejledning i oprettelse af digital
        post. Alt sammen i klasseværelset, aulaen eller hvor det passer bedst  på jeres skole.
      </p>
      <p>OBS! eleverne skal medbringe pas eller sygesikringsbevis og dåbs- eller navneattest.</p>
      <p>
        De, der venter på at komme til, kan bruge tiden på at skrive en sidste analog hilsen fra dem selv og kommunen,
        til en de holder af og vil minde om, at man skal oprette sit NemID og sin digitale postkasse. Det kan de gøre
        på fortrykte postkort, hvor der står: ”Vi kan ikke blive ved med at mødes sådan her”. Borgerservice står for
        indsamling og forsendelse.
      </p>
      <p>
        Det vil være godt med adgang til pc'ere eller egne devices, hvor eleverne kan lave Digitalparathedsquiz, der
        giver dem viden om relevans og omfang af digital selvbetjening.
      </p>
    </section>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Læringsmål Samfundsmæssigt</h3>
      <ul class="static-page--list">
        <li class="static-page--list-item">
          Eleverne opnår kendskab til og viden om digital selvbetjening, bl.a. NemID og Digital Post, og hvorfor det er
          relevant og vigtigt for dem.
        </li>
        <li class="static-page--list-item">
          Eleverne får viden om, at digitale kanaler er den fremtidige kommunikationsform med det offentlige.
        </li>
        <li class="static-page--list-item">
          Eleverne reflekterer over egne eller andres behov for kontakt med det offentlige.
        </li>
      </ul>
    </section>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Socialt/samfundsmæssigt</h3>
      <ul class="static-page--list">
        <li class="static-page--list-item">
          Eleverne oplever en mulighed for at medvirke i systemet.
        </li>
        <li class="static-page--list-item">
          Eleverne reflekterer fælles over betydningen af digitale kommunikationsteknologier for eget liv og fællesskab.
        </li>
      </ul>
    </section>
      <a href="#top" du-smooth-scroll class="static-page--top-link">Til toppen af siden</a>
  </div>
</div>
