<div class="static-page--header">
  <h1 class="static-page--heading">Digital ambassadør</h1>
</div>
<div class="static-page--content-wrapper">
  <div data-ng-include="" include-replace src="'/partials/digital-ambassadoer/snippets/static-page-nav.html'"></div><!--
--><div class="static-page--content" id="top">
    <h2 class="static-page--sub-heading">Digital ambassadør</h2>
    <section class="static-page--section">
      <p>
        <p>Digital Ambassadør er et Demo-miljø, som indeholder alle de selvbetjeningsløsninger, der findes i Aarhus Kommune og på Borger.dk.</p>
        <p>Et demo-miljø indeholder kopier af de virkelige løsninger, så det er et sted, hvor du kan øve dig og lære løsningerne at kende.</p>
        <p>Der er rigtig mange og det kan give et godt overblik over, hvor mange ting man egentlig selv skal klare på nettet.</p>
        <p>Det er også rigtigt kedeligt og sprængfyldt med svære ord og formuleringer – men hey, sådan er virkeligheden også.</br>
          Du kan skrive forkert og lave fejl – og der sker ikke noget ved det, det er bare en slags øvebane.</p>
        <p>Vær dog opmærksom på ikke at bruge dit eget CPR, det skal du kun bruge når du er inde i rigtige selvbetjeningsløsninger.</p>
      </p>
    </section>
    <a href="#top" du-smooth-scroll class="static-page--top-link">Til toppen af siden</a>
  </div>
</div>
