<h3 class="static-page--paragraph-heading">Motivation</h3>
<p>
  Det er politisk besluttet, at alle unge over 15 år ved udgangen af november 2014 skal have et NemID og en aktiveret
  Digital Postkasse – de bliver digitale borgere!
  Det er vigtigt, at de unge ved dette, og at de øver sig i digital selvbetjening, for det er kanalen til
  kommunikation mellem det offentlige og borgerne i fremtiden.
</p>
<p>
  Det offentlige begynder at sende post til de unges digitale postkasse fra november 2014, og hvis ikke de har
  aktiveret den og tjekker den jævnligt, kan de risikere at gå glip af vigtige beskeder eksempelvis bøder,
  oplysninger om skat eller anden offentlig kommunikation.
</p>