{%  extends '::base.html.twig' %}

{% block body %}
<section class="quiz-header">
    <div class="quiz-header--inner">
        <h2 class="quiz-header--question">tjek på din NemID OG digital postkasse?</h2>
        <h1 class="quiz-header--punchline">Ingen stress</h1>
    </div>
</section>
{% endblock %}