{%  extends '::base.html.twig' %}

{% block body %}
<section class="quiz-header">
    <div class="quiz-header--inner">
        <h2 class="quiz-header--question">Tjek på din NemID OG digital postkasse?</h2>
        <h1 class="quiz-header--punchline">Ingen stress</h1>
        <p class="quiz-header--text">Magna pars studiorum, prodita quaerimus</p>
        <p class="quiz-header--text">- ka’ du din Digitale ABC?</p>
        <a href="{{ path('digital_abc_quiz_countdown') }}" class="button-transparent">Ta' Quizzen</a>
    </div>
</section>
{% endblock %}