/**
 *
 * Error 404
 *
 */

.error-404 {
  position: relative;
  z-index: 99;

  min-height: 100%;

  background-image: url('/images/backgrounds/small/device-blurred.jpg');
  background-repeat: no-repeat;
  background-position: center top;

  @include background-size(cover);

  @include breakpoint($breakpoint-lap, false, true) {
    background-image: url('/images/backgrounds/medium/device-blurred.jpg');
  }

  @include breakpoint($breakpoint-lap) {
    background-image: url('/images/backgrounds/medium/device-blurred.jpg');
  }

  @include breakpoint($breakpoint-desk) {
    background-image: url('/images/backgrounds/large/device-blurred.jpg');
  }

  &--inner {
    padding: 2em;

    text-align: center;

    @include box-sizing(border-box);
  }
}