/**
 *
 * Menu
 *
 */

.nav {
  position: fixed;
  right: 0;
  z-index: 1;

  height: 100%;

  background: rgba(0, 0, 0, 0.65);
  color: #fff;

  @include translateX(100%);

  &--inner {
    font-size: 1.2em;
    margin-top: 8em;
    padding: 2em;
    position: relative;
  }
}