/**
 *
 * Menu.
 *
 */


/* Menu styles.
 *
 * ========================================================================== */

.nav {
  position: fixed;
  right: 0;
  z-index: 1;

  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  color: #fff;

  &--inner {
    font-size: 1.2em;
    margin-top: 8em;
    padding: 2em;
    position: relative;
  }

  &.close {
    @include animation(5s, toggle-nav-close);
  }

  &.open {
    @include animation(5s, toggle-nav-open);
  }
}