/**
 *
 * Navigation
 *
 */


.nav {
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  right: -200%;
  z-index: 99;

  padding-top: 3.75em;
  padding-right: 3em;
  padding-left: 3em;
  width: 25em;

  background: $white;
  color: $text-color-dark;

  @include box-sizing(border-box);
  @include box-shadow(-5px 0px 10px transparentize($black, .75));


  /* Breakpoints */

  @include breakpoint($breakpoint-lap) {
    width: 40em;
  }


  /* States */

  &.is-visible {
    @include animation(toggle-nav-open .15s ease 1 forwards);
  }

  &.is-hidden {
    @include animation(toggle-nav-close .15s ease 1 forwards);
  }


  /* Elements */

  &--header {
    border-bottom: 1px solid $gray-lighter;
    margin-right: 3em;
    margin-bottom: .35em;
    padding-bottom: .25em;

    color: $gray-light;
    font-family: $font-primary;
    font-size: 3em;
    line-height: 1em;
  }

  &--item-wrapper {
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  &--item,
  &--sub-item {
    display: block;

    font-family: $font-primary;
    line-height: 1.75em;

    &:link {
      color: $text-color-dark;
      text-decoration: none;
    }

    &:visited {
      color: darken($text-color-dark, 5%);
    }

    &:hover,
    &:focus {
      color: $link-color;
      text-decoration: none;
    }
  }

  &--item {
    font-size: 2em;
  }

  &--sub-item {
    position: relative;

    padding-left: 2em;

    font-size: 1.5em;
  
    &:before {
      position: absolute;
      top: .35em;
      left: 1em;

      height: 1em;
      width: 1em;

      content: "";

      @include svg-bg(arrow-icon, png, transparent, 0, no-repeat);
      @include background-size(.65em);
      @include opacity(.5);
    }
  }
}


/* Invisible close element that allows the user to close the menu by clicking outside it */

.nav-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 98;

  width: 0;

  cursor: pointer;

  &.is-visible {
    width: 100%;

    @include animation(toggle-nav-overlay .15s linear 1 forwards);
  }
}


/* Toggle icon use for opening and closing the menu */

.nav-toggle-icon {
  position: absolute;
  top: 2em;
  right: 2em;

  display: block;
  height: 4.5em;
  width: 5em;

  cursor: pointer;

  @include breakpoint($breakpoint-lap) {
    top: 4em;
    right: 6em;
  }
}
