/**
 *
 * Menu
 *
 */


.nav {
  height: 100%;
  position: absolute;
  right: -100%;
  z-index: 99;

  padding-top: 4em;
  padding-right: 3em;
  padding-left: 3em;
  width: 30em;

  background: $white;
  color: $text-color-dark;

  @include box-sizing(border-box);
  @include box-shadow(-5px 0px 10px transparentize($black, .75));

  &.is-visible {
    @include animation(toggle-nav-open .5s ease 1);
    @include animation-fill-mode(forwards);
  }

  &.is-hidden {
    @include animation(toggle-nav-close .5s ease 1);
    @include animation-fill-mode(forwards);
  }

  &--item-wrapper {
    border-bottom: 1px solid $gray;
  }

  &--item {
    display: block;

    font-size: 1.25em;
  }
}


/* Invisible close element that allows the user to close the menu by clicking outside it */

.nav-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 98;

  width: 0;

  cursor: pointer;

  &.is-visible {
    width: 100%;

    @include animation(toggle-nav-overlay .25s linear 1);
    @include animation-fill-mode(forwards);
  }
}


/* Toggle icon use for opening and closing the menu */

.nav-toggle-icon {
  position: absolute;
  top: 2em;
  right: 1em;

  display: block;
  max-width: 4em;

  cursor: pointer;

  @include breakpoint(30em) {
    top: 4em;
    right: 6em;
  }
}
