/**
 *
 * Quiz.
 *
 */


/* Silent classes related to this document.
 *
 * ========================================================================== */

// Selector for displaying backgrounds properly.
%quiz--set-font--selector {
  color: $white;
  font-family: 'bebas_neueregular';
}


/* Quiz styles.
 *
 * ========================================================================== */

.quiz {
  height: 100%;
  width: 100%;

  background: url('/images/quiz-bg.jpg') no-repeat;
  letter-spacing: .08em;
  text-align: center;

  @include background-size(cover);

  &--inner {
    @extend %layout-inner;
  }

  &--start-header {
    @extend %quiz--set-font--selector;

    font-size: 6em;
    line-height: 1em;
  }


  &--start-subtitle {
    @extend %quiz--set-font--selector;

    font-size: 3em;
    line-height: 1em;
  }

  &--start-button {
    @extend %button-transparent;

    font-size: 3.5em;

    @include breakpoint($breakpoint-lap) {
      font-size: 4.5em;
    }
  }


  &--progress {
    color: transparentize($white, .5);
    font-size: 3em;
    font-family: $font-primary;
  }


  &--question {
    @extend %quiz--set-font--selector;

    font-size: 4em;
  }


  &--answers {
    @extend %quiz--set-font--selector;

    font-size: 2em;
  }


  &--selection {
    margin: 1em auto;
    height: 2.9em;
    padding: .5em 1em;
    position: relative;
    width: 70%;

    background-color: rgba(0,0,0,0.35);
    border: 0.3em solid white;
    font-size: 0.8em;

    @include breakpoint($breakpoint-lap) {
      width: 30em;
    }

    &.is-checked {
      @include background-image(linear-gradient(left, $theme-color, rgba(0,0,0,0.35)));

      .quiz--selection-number {
        background-color: $theme-color;
      }
    }
  }


  &--selection-input {
    display: none;
  }


  &--selection-label {
    position: relative;
    top: 50%;

    margin: 0;

    color: $white;
    word-wrap: break-word;

    @include translateY(-50%);

    &:hover {
      cursor: pointer;
    }
  }


  &--selection-number {
    height: 1.5em;
    left: -1.1em;
    line-height: 1.5em;
    position: absolute;
    top: 50%;
    width: 1.5em;

    background: black;
    border: .2em solid $white;

    @include border-radius(100%);
    @include translateY(-50%);
  }


  &--button {
    @extend %button-transparent;

    color: $white;
    font-size: 1.695em;

    &.is-inactive {
      cursor: default;

      @include opacity(.5);
    }
  }


  &--result {
    @extend %quiz--set-font--selector;

    font-size: 4em;
  }


  &--text {
    @extend %quiz--set-font--selector;

    font-size: 2em;
  }

  &--challenger-answer {
    &.is-correct {
      color: #0f0;
    }

    &.is-wrong {
      color: #f00;
    }
  }


  &--start-opponents-wrapper {
    @extend %quiz--set-font--selector;

    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
    padding-left: 6em;
    width: 16em;

    font-size: 2em;
    text-align: left;
  }

  &--start-opponent {
    color: lighten($theme-color, 35%);
  }
}