/**
 *
 * Quiz
 *
 */


.quiz-header {
  background: url('/images/image-flip.jpg') no-repeat;

  &--inner {
    padding-top: 4em;
  }

  @include breakpoint($breakpoint-lap, $breakpoint-height) {
    padding-top: 4.5em;
  }
}

.quiz,
.quiz-start {
  background: url('/images/quiz-bg.jpg') no-repeat;

  padding-top: 2em;

  @include breakpoint($breakpoint-lap, $breakpoint-height) {
    padding-top: 1em;
  }
}

.quiz,
.quiz-header,
.quiz-start {
  position: relative;

  height: 100%;
  width: 100%;

  text-align: center;

  @include background-size(cover);

  &--inner {
    position: relative;
    top: 50%;

    padding-right: 1em;
    padding-left: 1em;

    @include translateY(-50%);
  }
}

.quiz-header,
.quiz-start {
  &--text,
  &--question,
  &--punchline {
    color: $white;
    font-family: $font-family-primary;
  }

  &--question,
  &--text {
    margin-bottom: 0;

    font-size: 1.5em;

    @include breakpoint($breakpoint-lap) {
      font-size: 2.5em;
    }

    @include breakpoint($breakpoint-bigscreen) {
      font-size: 5em;
    }

    @include breakpoint($breakpoint-lap, $breakpoint-height) {
      font-size: 2.25em;
    }

    @media screen and (orientation: landscape) and (max-height: 287px) {
      font-size: 1.75em;
    }
  }


  &--punchline {
    margin-bottom: .25em;

    font-size: 3em;
    line-height: 1em;

    @include breakpoint($breakpoint-lap) {
      font-size: 8em;
    }

    @include breakpoint($breakpoint-bigscreen) {
      font-size: 12em;
    }

    @include breakpoint($breakpoint-lap, $breakpoint-height) {
      font-size: 6em;
    }

    @media screen and (orientation: landscape) and (max-height: 287px) {
      font-size: 3em;
    }
  }


  &--text {
    margin-bottom: 1em;

    @include breakpoint($breakpoint-lap, $breakpoint-height) {
      margin-bottom: .5em;
    }

    // Not much room when orientation: landscape so we hide the text.
    @media screen and (orientation: landscape) and (max-height: 287px) {
      display: none;
    }
  }

  &--button {
    @extend %button-transparent;

    margin-bottom: 1.5em;

    font-size: 2em;

    @include breakpoint($breakpoint-lap) {
      font-size: 2.75em;
    }

    @include breakpoint($breakpoint-desk) {
      margin-bottom: 1.25em;

      font-size: 4em;
    }

    @include breakpoint($breakpoint-lap, $breakpoint-height) {
      margin-bottom: 1em;

      font-size: 2em;
    }

    @media screen and (orientation: landscape) and (max-height: 287px) {
      font-size: 1.75em;
    }
  }

  &--scroll {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 2em;

    cursor: pointer;

    .scroll-text {
      @include opacity(.5);
    }

    @include breakpoint($breakpoint-desk) {
      max-width: 3.25em;
    }

    // Not much room when orientation: landscape so we hide the text.
    @media screen and (orientation: landscape) and (max-height: 287px) {
      display: none;
    }
  }
}



.quiz {
  &--progress {
    color: transparentize($white, .5);

    font-size: 1.5em;

    @include breakpoint(false, 550px) {
      display: none;
    }

    @include breakpoint($breakpoint-desk) {
      font-size: 3em;
    }
  }


  &--question {
    margin-bottom: 0;

    color: $white;

    @include breakpoint(false, 550px) {
      font-size: 1.5em;
    }

    @include breakpoint($breakpoint-desk) {
      font-size: 3em;
    }

    @include breakpoint($breakpoint-bigscreen) {
      font-size: 5em;
    }
  }

  &--answers-wrapper {
    padding: .75em;
  }

  &--answers {
    color: $white;
  }


  &--selection {
    position: relative;

    margin-right: auto;
    margin-left: auto;
    max-width: 35em;
    height: 5.5em;

    @include breakpoint(false, 550px) {
      height: 4.75em;
    }

    @include breakpoint($breakpoint-bigscreen) {
      height: 8em;
      max-width: 50em;
    }

    @include breakpoint($breakpoint-lap, $breakpoint-height) {
      height: 4.5em;
    }

    &.is-checked {
      .quiz--selection-label {
        @include background-image(linear-gradient(left, $theme-color, transparentize($black, .35)));
      }

      .quiz--selection-number {
        background-color: $theme-color;
      }
    }
  }

  &--selection-input {
    display: none;
  }

  &--selection-label {
    position: relative;
    top: 50%;

    margin-bottom: 0;
    margin-left: 0;
    padding-top: .5em;
    padding-right: 2em;
    padding-bottom: .75em;
    padding-left: 2em;

    background-color: transparentize($black, .35);
    border: .3em solid white;
    color: $white;
    font-family: $font-secondary;
    font-size: .9em;
    line-height: 1.25em;
    word-wrap: break-word;

    @include translateY(-50%);

    @include breakpoint(false, 550px) {
      padding-top: .75em;
      padding-bottom: 1em;

      font-size: .8em;
    }

    @include breakpoint($breakpoint-lap, $breakpoint-height) {
      padding-top: 1em;
      padding-bottom: 1.25em;
    }

    @include breakpoint($breakpoint-bigscreen) {
      padding-top: 1.5em;
      padding-bottom: 1.5em;

      font-size: 1.1em;
      line-height: 1.5em;
    }

    &:hover {
      cursor: pointer;
    }
  }


  &--selection-number {
    left: -.75em;
    position: absolute;
    top: 50%;
    width: 1.5em;

    background: black;
    border: .2em solid $white;
    line-height: 1.5em;

    @include border-radius(100%);
    @include translateY(-50%);

    // Compensate for width of the number 1.
    &.is-first {
      text-indent: -1px;
    }

    &:hover {
      cursor: pointer;
    }

    @include breakpoint($breakpoint-bigscreen) {
      font-size: 1.5em;
    }
  }


  &--button {
    @extend %button-transparent;

    margin-right: .5em;
    margin-left: .5em;
    padding: .25em 1.25em;

    color: $white;
    font-size: 1.695em;

    &.is-inactive {
      cursor: default;

      @include opacity(.5);
    }

    @include breakpoint(false, 550px) {
      padding: .25em .75em;
    }

    @include breakpoint($breakpoint-bigscreen) {
      padding: .5em 2em;
    }
  }


  &--result {
    @extend %quiz--set-font--selector;

    font-size: 4em;
  }


  &--text {
    @extend %quiz--set-font--selector;

    font-size: 2em;
  }

  &--challenger-answer {
    &.is-correct {
      color: #0f0;
    }

    &.is-wrong {
      color: #f00;
    }
  }


  &--start-opponents-wrapper {
    @extend %quiz--set-font--selector;

    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
    padding-left: 6em;
    width: 16em;

    font-size: 2em;
    text-align: left;
  }

  &--start-opponent {
    color: lighten($theme-color, 35%);
  }
}