/**
 *
 * Quiz
 *
 */


/* Silent classes related to this document.
 *
 * ========================================================================== */

// Selector for displaying backgrounds properly.
%quiz--set-font--selector {
  color: $white;
  font-family: 'bebas_neueregular';
}


/* Quiz styles.
 *
 * ========================================================================== */

.quiz {

  &--start-header {
    @extend %quiz--set-font--selector;

    font-size: 4em;
  }


  &--start-subtitle {
    @extend %quiz--set-font--selector;

    font-size: 3em;
  }

  &--start-button {
    @extend %button-transparent;

    font-size: 3em;
    padding: .5em 1em;
  }


  &--progress {
    color: #3E5F6B;
    font-size: 3em;
    font-family: 'bebas_neueregular';
  }


  &--question {
    @extend %quiz--set-font--selector;

    font-size: 4em;
  }


  &--answers {
    @extend %quiz--set-font--selector;

    font-size: 2em;
  }


  &--selection {
    margin: 1em auto;
    min-height: 2.90em;
    position: relative;
    width: 70%;

    background-color:rgba(0,0,0,0.35);
    border: 0.3em solid white;
    font-size: 0.8em;

    @include breakpoint($breakpoint-lap) {
      width: 50%;
    }
  }


  &--selection-input {
    display: none;

    &:checked ~ .quiz--selection-label {
      @include background-image(linear-gradient(left, $theme-color, rgba(0,0,0,0.35)));
    }

    &:checked ~ .quiz--selection-number {
      background-color: $theme-color;
    }
  }


  &--selection-label {
    margin: 0;
    min-height: 1.9em;
    padding: .5em 1.5em .5em;

    color: $white;
    word-wrap: break-word;

    &:hover {
      cursor: pointer;
    }
  }


  &--selection-number {
    height:1.5em;
    left: -1.1em;
    line-height: 1.5em;
    position: absolute;
    top: 50%;
    width: 1.5em;

    background: black;
    border: .2em solid $white;
    text-indent: -2px;


    @include border-radius(100%);
    @include translateY(-50%);
  }


  &--button {
    @extend %button-transparent;

    margin: 0 .2em .2em .2em;
    padding: .1em 1.5em;

    background-color:rgba(0,0,0,0.35);
    color: #fff;
    font-size: 1.25em;

    &.is-inactive {
      cursor: default;

      &:hover {
        background-color:rgba(0,0,0,0.35);

      }

      @include opacity(.5);
    }


    &:focus {
      outline: none
    }
  }


  &--result {
    @extend %quiz--set-font--selector;

    font-size: 4em;
  }


  &--text {
    @extend %quiz--set-font--selector;

    font-size: 2em;
  }


  &--start-opponents-wrapper {
    @extend %quiz--set-font--selector;

    margin-left: auto;
    margin-right: auto;
    padding-left: 3em;
    width: 16em;

    font-size: 2em;
    text-align: left;
  }
}