/**
 *
 * Quiz
 *
 */


// ----- Selecters related to this document ----- //

// Selector for displaying backgrounds properly
%quiz--set-font--selector {
  color: $white;
  font-family: 'bebas_neueregular';
}




.quiz {

  &--start-header {
    @extend %quiz--set-font--selector;
    font-size: 4em;
  }


  &--start-subtitle {
    @extend %quiz--set-font--selector;
    font-size: 3em;
  }


  &--progress {
    color: #3E5F6B;
    font-size: 3em;
    font-family: 'bebas_neueregular';
  }


  &--question {
    @extend %quiz--set-font--selector;

    font-size: 4em;
  }


  &--answers {
    @extend %quiz--set-font--selector;

    font-size: 2em;
  }


  &--selection {
    background-color:rgba(0,0,0,0.35);
    border: 0.3em solid white;
    margin: 1em auto;
    min-height: 2.90em;
    position: relative;
    width: 50%;
    font-size: 0.8em;
  }


  &--selection-input {
    display: none;

    &:checked ~ .quiz--selection-label {
      @include background-image(linear-gradient(left, #00B9F3, rgba(0,0,0,0.35)));
    }

    &:checked ~ .quiz--selection-number {
      background-color: #00B9F3;
    }
  }


  &--selection-label {
    color: $white;
    margin: 0;
    padding: .5em 1.5em .5em;

    &:hover {
      cursor: pointer;
    }
  }


  &--selection-number {
    position: absolute;
    top: 50%;

    background: black;
    border: .2em solid $white;

    height:1.5em;
    line-height: 1.5em;
    left: -1.1em;
    text-indent: -2px;
    width: 1.5em;

    @include border-radius(100%);
    @include translateY(-50%);
  }


  &--button {
    @extend .button-transparent;

    background-color:rgba(0,0,0,0.35);
    color: #fff;
    margin: 0 .2em .2em .2em;
    padding: .1em 1.5em;

    &.is-inactive {
      cursor: default;

      &:hover {
        background-color:rgba(0,0,0,0.35);

      }

      @include opacity(.5);
    }

    &:focus {
      outline: none
    }
  }


  &--result {
    @extend %quiz--set-font--selector;

    font-size: 4em;
  }

  &--text {
    @extend %quiz--set-font--selector;

    font-size: 2em;
  }
}