/**
 *
 * Quiz header.
 *
 */


.quiz-header {
  position: relative;

  height: 100%;
  width: 100%;

  background: url('/images/image-flip.jpg') no-repeat;
  text-align: center;

  @include background-size(cover);

  &--inner {
    position: relative;
    top: 50%;

    padding-top: 6em;
    padding-right: 1em;
    padding-left: 1em;

    @include translateY(-50%);

    @include breakpoint($breakpoint-lap, $breakpoint-height) {
      padding-top: 4.5em;
    }
  }

  &--text,
  &--question,
  &--punchline {
    color: $white;
    font-family: $font-primary;
  }

  &--question,
  &--text {
    margin-bottom: 0;

    font-size: 1.5em;

    @include breakpoint($breakpoint-lap) {
      font-size: 2.5em;
    }

    @include breakpoint($breakpoint-bigscreen) {
      font-size: 5em;
    }

    @include breakpoint($breakpoint-lap, $breakpoint-height) {
      font-size: 2.25em;
    }

    @media screen and (orientation: landscape) and (max-height: 287px) {
      font-size: 1.75em;
    }
  }


  &--punchline {
    margin-bottom: .25em;

    font-size: 3em;
    line-height: 1em;

    @include breakpoint($breakpoint-lap) {
      font-size: 8em;
    }

    @include breakpoint($breakpoint-bigscreen) {
      font-size: 12em;
    }

    @include breakpoint($breakpoint-lap, $breakpoint-height) {
      font-size: 6em;
    }

    @media screen and (orientation: landscape) and (max-height: 287px) {
      font-size: 3em;
    }
  }


  &--text {
    margin-bottom: 1em;

    @include breakpoint($breakpoint-lap, $breakpoint-height) {
      margin-bottom: .5em;
    }

    // Not much room when orientation: landscape so we hide the text.
    @media screen and (orientation: landscape) and (max-height: 287px) {
      display: none;
    }
  }

  &--button {
    @extend %button-transparent;

    margin-bottom: 2em;

    font-size: 2em;

    @include breakpoint($breakpoint-lap) {
      font-size: 2.75em;
    }

    @include breakpoint($breakpoint-desk) {
      margin-bottom: 1.25em;

      font-size: 4em;
    }

    @include breakpoint($breakpoint-lap, $breakpoint-height) {
      margin-bottom: 1em;

      font-size: 2em;
    }

    @media screen and (orientation: landscape) and (max-height: 287px) {
      font-size: 1.75em;
    }
  }

  &--scroll {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 3em;

    cursor: pointer;

    .scroll-text {
      @include opacity(.5);
    }

    @include breakpoint($breakpoint-lap) {
      max-width: 2em;
    }

    @include breakpoint($breakpoint-desk) {
      max-width: 3.25em;
    }

    // Not much room when orientation: landscape so we hide the text.
    @media screen and (orientation: landscape) and (max-height: 287px) {
      display: none;
    }
  }
}
