/**
 *
 * Quiz
 *
 */

.quiz {

  &--progress {
    color: #3E5F6B;
    font-size: 3em;
    font-family: 'bebas_neueregular';
  }


  &--question {
    color: $white;
    font-size: 4em;
    font-family: 'bebas_neueregular';
  }


  &--answers {
    color: $white;
    font-size: 2em;
    font-family: 'bebas_neueregular';
  }


  &--selection {
    background-color:rgba(0,0,0,0.35);
    border: 0.3em solid white;
    height: 3em;
    margin: 1em auto;
    position: relative;
    width: 50%;
    line-height: 3.05em;
    font-size: 0.8em;
  }


  &--selection-input {
    display: none;

    &:checked ~ .quiz--selection-label {
      @include background-image(linear-gradient(left, #00B9F3, rgba(0,0,0,0.35)));
    }

    &:checked ~ .quiz--selection-number {
      background-color: #00B9F3;
    }
  }


  &--selection-label {
    color: $white;
    margin: 0;

    &:hover {
      cursor: pointer;
    }
  }


  &--selection-number {
    background: black;
    border: .2em solid $white;

    height:1.5em;
    line-height: 1.5em;
    left: -1.1em;
    position: absolute;
    text-indent: -2px;
    top: 0.5em;
    width: 1.5em;

    @include border-radius(100%);
  }

  &--button {
    @extend .button-transparent;

    background-color:rgba(0,0,0,0.35);
    color: #fff;
    margin: 0 .2em .2em .2em;
    padding: .1em 1.5em;

    &.is-inactive {
      @include opacity(.5);
    }
  }
}