/**
 *
 * Static page.
 *
 */


.static-page {
  p {
    margin-bottom: 1em;
  }

  &--header {
    position: relative;

    margin-bottom: 4em;
    min-height: 500px;

    background: url('/images/backgrounds/table-laptop-notebook.png') center no-repeat;

    @include background-size(cover);
  }


  /* Headings styling */
  &--heading {
    position: absolute;
    bottom: 0;

    margin-bottom: 0;
    width: 100%;

    color: $white;
    font-size: 10em;
    line-height: .7em;
    text-align: center;
  }

  &--sub-heading {
    margin-bottom: 0;

    font-size: 3em;
  }

  &--paragraph-heading {
    font-size: 2em;
  }


  /* Content */

  &--content {
    margin-right: auto;
    margin-left: auto;
    max-width: $layout-max-width;
  }

  &--lead {
    @extend %strong;

    margin-bottom: 3em;
  }

  &--summary {
    margin-bottom: 3em;
  }

  &--section {
    margin-bottom: 3em;
  }


  /* List */
  &--list {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 1em;
    padding: 0;

    list-style: none;
  }

  &--list-item {
    border-left: 8px solid $gray-lighter;
    margin-bottom: 2em;
    padding-left: 1.25em;
  }
}