/**
 *
 * Videos.
 *
 */


/* Shared video section styling */
%video-section {
  @extend %grid__item;
  @extend %palm--one-whole;
  @extend %lap--one-half;
  @extend %desk--one-half;
  @extend %bigscreen--one-half;
  @extend %grid-markup-fix;

  position: relative;
  overflow: hidden;

  padding: 2em;

  text-align: center;

  @include breakpoint($breakpoint-lap) {
    height: 50%;
  }
}

%video-section-inner {
  @include breakpoint($breakpoint-lap) {
    @include vertical-align-element;
  }
}

.video {
  position: relative;
  z-index: 99;

  height: 100%;

  &--inner {

    height: 100%;
  }

  &--troll-painter,
  &--broke-teenager,
  &--slave,
  &--pain-in-the-butt {
    &-header {
      margin-bottom: .25em;

      color: $white;
      font-size: 3em;
      text-align: center;

      @include breakpoint($breakpoint-desk) {
        font-size: 4em;
      }

      @include breakpoint($breakpoint-bigscreen) {
        font-size: 7em;
      }
    }

    &-image {
      margin-right: auto;
      margin-left: auto;

      @include breakpoint($breakpoint-lap) {
        margin-bottom: -4.5em;
        max-height: 15em;
      }

      @include breakpoint($breakpoint-bigscreen) {
        height: 34.5em;
        max-height: 34.5em;
        margin-bottom: -12.5em;
      }

      &.is-animated {
        display: none;
      }
    }

    &:hover {
      .is-static {
        display: none;
      }

      .is-animated {
        display: inline;
      }
    }

    &-inner {
      @extend %video-section-inner;
    }

    @include breakpoint($breakpoint-lap) {
      &:hover {
        border: 1em solid transparentize($black, .95);
      }
    }
  }

  &--troll-painter {
    @extend %video-section;

    background-color: $theme-color;
  }

  &--broke-teenager {
    @extend %video-section;

    background-color: #39b54a;
  }

  &--slave {
    @extend %video-section;

    background-color: #ee3d96;
  }

  &--pain-in-the-butt {
    @extend %video-section;

    height: 15em;

    background-color: #fff32a;

    @include breakpoint($breakpoint-lap) {
      height: 50%;
    }

    &-header {
      color: $black;

      @include vertical-align-element;
    }
  }
}