/**
 *
 * Videos.
 *
 */


.video-wrapper {
  position: relative;
  z-index: 98;

  height: 100%;
  width: 100%;

  // Move video element to allow our close link to work on iOS.
  .video-js {
    .vjs-tech {
      top: 10%;

      height: 90%;
    }
  }
}


/* Close icon */
.video-close-icon {
  @include navigation--toggle-icon();

  position: fixed;
  z-index: 99;

  fill: $white;
}


.video {
  @extend %grid--full;

  position: relative;
  z-index: 97;

  height: 100%;

  &--inner {
    height: 100%;
  }

  &--troll-painter {
    @extend %video--section;

    background-color: $theme-color;

    &-header {
      @extend %video--section-header;
    }

    &-image {
      @extend %video--section-image;
    }

    &-inner {
      @extend %video--section-inner;
    }
  }

  &--broke-teenager {
    @extend %video--section;

    background-color: #39b54a;

    &-header {
      @extend %video--section-header;
    }

    &-image {
      @extend %video--section-image;
    }

    &-inner {
      @extend %video--section-inner;
    }
  }

  &--slave {
    @extend %video--section;

    background-color: #ee3d96;

    &-header {
      @extend %video--section-header;
    }

    &-image {
      @extend %video--section-image;
    }

    &-inner {
      @extend %video--section-inner;
    }
  }

  &--pain-in-the-butt {
    @extend %video--section;

    height: 15em;

    background-color: #fff32a;

    &-header {
      @extend %video--section-header;

      color: $black;

      @include vertical-align-element;
    }

    &-image {
      @extend %video--section-image;
    }

    &-inner {
      @extend %video--section-inner;
    }

    @include breakpoint($breakpoint-lap) {
      height: 50%;
    }
  }
}