/**
 *
 * Videos.
 *
 */


.example-video {
  position: relative;
  z-index: 98;

  height: 100%;
  width: 100%;
}


/* Close icon */
.video-close-icon {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 99;

  display: block;
  height: 2em;
  width: 2em;

  cursor: pointer;
  fill: $white;

  @include breakpoint($breakpoint-lap) {
    right: 2em;
  }

  @include breakpoint($breakpoint-desk) {
    top: 3em;

    height: 3em;
    width: 3em;
  }

  @include breakpoint($breakpoint-bigscreen) {
    top: 4em;
    right: 6em;

    height: 5em;
    width: 5em;
  }
}



/* Animated gifs */

@import "../components/video";

.video {
  position: relative;
  z-index: 99;

  height: 100%;

  &--inner {
    height: 100%;
  }

  &--troll-painter {
    @extend %video-section;

    background-color: $theme-color;

    &-header {
      @extend %video-section-header;
    }

    &-image {
      @extend %video-section-image;
    }

    &-inner {
      @extend %video-section-inner;
    }
  }

  &--broke-teenager {
    @extend %video-section;

    background-color: #39b54a;

    &-header {
      @extend %video-section-header;
    }

    &-image {
      @extend %video-section-image;
    }

    &-inner {
      @extend %video-section-inner;
    }
  }

  &--slave {
    @extend %video-section;

    background-color: #ee3d96;

    &-header {
      @extend %video-section-header;
    }

    &-image {
      @extend %video-section-image;
    }

    &-inner {
      @extend %video-section-inner;
    }
  }

  &--pain-in-the-butt {
    @extend %video-section;

    height: 15em;

    background-color: #fff32a;

    &-header {
      @extend %video-section-header;

      color: $black;

      @include vertical-align-element;
    }

    &-image {
      @extend %video-section-image;
    }

    &-inner {
      @extend %video-section-inner;
    }

    @include breakpoint($breakpoint-lap) {
      height: 50%;
    }
  }
}