/**
 *
 * Videos.
 *
 */


.example-video {
  position: relative;
  z-index: 99;

  height: 100%;
  width: 100%;
}


/* Animated gifs */

@import "../components/video";

.video {
  position: relative;
  z-index: 99;

  height: 100%;

  &--inner {
    height: 100%;
  }

  &--troll-painter {
    @extend %video-section;

    background-color: $theme-color;

    &-header {
      @extend %video-section-header;
    }

    &-image {
      @extend %video-section-image;
    }

    &-inner {
      @extend %video-section-inner;
    }
  }

  &--broke-teenager {
    @extend %video-section;

    background-color: #39b54a;

    &-header {
      @extend %video-section-header;
    }

    &-image {
      @extend %video-section-image;
    }

    &-inner {
      @extend %video-section-inner;
    }
  }

  &--slave {
    @extend %video-section;

    background-color: #ee3d96;

    &-header {
      @extend %video-section-header;
    }

    &-image {
      @extend %video-section-image;
    }

    &-inner {
      @extend %video-section-inner;
    }
  }

  &--pain-in-the-butt {
    @extend %video-section;

    height: 15em;

    background-color: #fff32a;

    &-header {
      @extend %video-section-header;

      color: $black;

      @include vertical-align-element;
    }

    &-image {
      @extend %video-section-image;
    }

    &-inner {
      @extend %video-section-inner;
    }

    @include breakpoint($breakpoint-lap) {
      height: 50%;
    }
  }
}