@include keyframes(spinner) {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@include keyframes(toggle-nav-open) {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}


@include keyframes(toggle-nav-close) {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}


@include keyframes(item-show) {
  0% {
    @include opacity(0);
  }

  100% {
    @include opacity(1);
  }
}


@include keyframes(item-hide) {
  0% {
    @include opacity(1);
  }

  100% {
    @include opacity(0);
  }
}