<div class="static-page--header">
  <h1 class="static-page--heading">Om projektet</h1>
</div>
<div class="static-page--content-wrapper">
  <div data-ng-include="" include-replace src="'/partials/om-projektet/snippets/static-page-nav.html'"></div><!--
--><div class="static-page--content" id="top">
    <h2 class="static-page--sub-heading">Om projektet</h2>
    <section class="static-page--section">
      <p>
        Projektet er støttet med midler fra Aarhus Kommunes innovationspulje.<br>
        Digital ABC er blevet til i et nært samarbejde mellem Aarhus Kommunes Borgerservice og Biblioteker og magistraten for Børn og Unge, Center for Læring.
      </p>
    </section>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Skabt af brugerne</h3>
      <p>
        Unge fra udskolingsklasser i Aarhus har været drivkraft, samskabere og idémagere igennem hele processen omkring
        udvikling af undervisningskonceptet. Der har også deltaget lærere og medarbejdere fra Borgerservice og
        Biblioteker. Det har været en sjov og spændende proces, som alle er gået til med stor seriøsitet – og hvor de
        voksne har lært meget af og om unge.
      </p>
      <p>Vi håber, at rigtig mange undervisere, kommuner, forældre og især unge får glæde af projektet.</p>
      <p><strong>Stor respekt til alle deltagerne for deres enorme indsats.</strong></p>
      <p>Vi ses på <a href="http://facebook.com/tjekpaanemid">http://facebook.com/tjekpaanemid</a> og i din digitale postkasse.</p>
    </section>
  <a href="#top" du-smooth-scroll class="static-page--top-link">Til toppen af siden</a>
  </div>
</div>
