<section class="quiz-header">
  <div class="quiz-header--inner">
    <h2 class="quiz-header--question">Tjek på din NemID OG digital postkasse?</h2>
    <h1 class="quiz-header--punchline">Ingen stress</h1>
    <div class="quiz-header--text">Ta’ quizzen og kend din Digitale ABC!</div>

    <a href="/#/quiz" class="quiz-header--button">Ta' Quizzen</a>
    <img src="/images/scroll.svg" class="quiz-header--scroll" ng-click="scrollTo('videos')">
  </div>
</section>
<section id="videos" class="videos">
  <div class="videos--inner">
    <h1 class="videos--header">Videos</h1>
  </div>
</section>
