<section class="quiz-header" data-ng-switch="slideshow">
  <div class="quiz-header--inner">
    <h2 class="quiz-header--question">Tjek på din NemID OG digital postkasse?</h2>
    <h1 class="quiz-header--punchline">
      <span class="quiz-header--punchline-inner" data-ng-switch-when="1">Ingen stress</span>
      <span class="quiz-header--punchline-inner" data-ng-switch-when="2">Styr på dit liv ik?</span>
    </h1>
    <h3 class="quiz-header--text">Ta’ quizzen og kend din Digitale ABC!</h3>

    <a href="/#/quiz" class="quiz-header--button">Ta' Quizzen</a>
    <a href="#video" du-smooth-scroll><img src="/images/scroll.svg" class="quiz-header--scroll"></a>
  </div>
  <div class="quiz-header--background is-first" data-ng-switch-when="1"></div>
  <div class="quiz-header--background is-second" data-ng-switch-when="2"></div>
</section>
<div id="video" class="video">
  <div class="video--inner">
    <section class="video--troll-painter" data-ng-click="playVideo('troll-painter')">
      <div class="video--slave-inner">
        <img src="/images/video/troll-painter-poster.png" class="video--troll-painter-image is-static">
        <img src="/images/video/troll-painter-poster.gif" class="video--troll-painter-image is-animated">
      </div>
    </section><!--
--><section class="video--slave" data-ng-click="playVideo('slave')">
      <div class="video--slave-inner">
        <img src="/images/video/slave-poster.png" class="video--slave-image is-static">
        <img src="/images/video/slave-poster.gif" class="video--slave-image is-animated">
      </div>
    </section><!--
--><section class="video--broke-teenager" data-ng-click="playVideo('broke-teenager')">
      <div class="video--broke-teenager-inner">
        <img src="/images/video/broke-teenager-poster.png" class="video--broke-teenager-image is-static">
        <img src="/images/video/broke-teenager-poster.gif" class="video--broke-teenager-image is-animated">
      </div>
    </section>
  </div>
</div>
<div id="rap" class="rap">
  <div class="rap--inner">
    <div class="rap--video-wrapper">
      <video class="rap--video video-js vjs-default-skin" controls preload="auto" poster="/video/kom-med-poster.jpg">
        <source src="/video/kom-med.mp4" type="video/mp4" />
        <source src="/video/kom-med.webm" type="video/webm" />
      </video>
    </div>
  </div>
</div>
<div class="video-wrapper" id="troll-painter-wrapper" data-ng-show="showVideo === 'troll-painter'">
  <video class="troll-painter video-js vjs-default-skin" controls preload="auto" poster="http://video-js.zencoder.com/oceans-clip.png">
    <source src="http://video-js.zencoder.com/oceans-clip.mp4" type="video/mp4" />
    <source src="http://video-js.zencoder.com/oceans-clip.webm" type="video/webm" />
    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type="video/ogg" />
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>
</div>
<div class="video-wrapper" id="broke-teenager-wrapper" data-ng-show="showVideo === 'broke-teenager'">
  <video class="broke-teenager video-js vjs-default-skin" controls preload="auto" poster="http://video-js.zencoder.com/oceans-clip.png">
    <source src="http://video-js.zencoder.com/oceans-clip.mp4" type="video/mp4" />
    <source src="http://video-js.zencoder.com/oceans-clip.webm" type="video/webm" />
    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type="video/ogg" />
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>
</div>
<div class="video-wrapper" id="slave-wrapper" data-ng-show="showVideo === 'slave'">
  <video class="slave video-js vjs-default-skin" controls preload="auto" poster="http://video-js.zencoder.com/oceans-clip.png">
    <source src="http://video-js.zencoder.com/oceans-clip.mp4" type="video/mp4" />
    <source src="http://video-js.zencoder.com/oceans-clip.webm" type="video/webm" />
    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type="video/ogg" />
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>
</div>
<div class="video-wrapper" id="pain-in-the-butt-wrapper" data-ng-show="showVideo === 'pain-in-the-butt'">
  <video class="pain-in-the-butt video-js vjs-default-skin" controls preload="auto" poster="http://video-js.zencoder.com/oceans-clip.png">
    <source src="http://video-js.zencoder.com/oceans-clip.mp4" type="video/mp4" />
    <source src="http://video-js.zencoder.com/oceans-clip.webm" type="video/webm" />
    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type="video/ogg" />
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>
</div>
