<section class="quiz-header">
  <div class="quiz-header--inner">
    <h2 class="quiz-header--question">Tjek på din NemID OG digital postkasse?</h2>
    <h1 class="quiz-header--punchline">Ingen stress</h1>
    <h3 class="quiz-header--text">Ta’ quizzen og kend din Digitale ABC!</h3>

    <a href="/#/quiz" class="quiz-header--button">Ta' Quizzen</a>
    <a href="#video" du-smooth-scroll><img src="/images/scroll.svg" class="quiz-header--scroll"></a>
  </div>
</section>
<div id="video" class="video">
  <div class="video--inner">
    <section class="video--troll-painter" data-ng-click="playVideo('troll-painter')">
      <div class="video--slave-inner">
        <h2 class="video--troll-painter-header">The Troll Painter</h2>
        <img src="/images/video/troll-painter.png" class="video--troll-painter-image is-static">
        <img src="/images/video/troll-painter.gif" class="video--troll-painter-image is-animated">
      </div>
    </section>
    <section class="video--broke-teenager" data-ng-click="playVideo('broke-teenager')">
      <div class="video--slave-inner">
        <h2 class="video--broke-teenager-header">The Broke Teenager</h2>
        <img src="/images/video/broke-teenager.png" class="video--broke-teenager-image is-static">
        <img src="/images/video/broke-teenager.gif" class="video--broke-teenager-image is-animated">
      </div>
    </section>
    <section class="video--slave" data-ng-click="playVideo('slave')">
      <div class="video--slave-inner">
        <h2 class="video--slave-header">The Slave</h2>
        <img src="/images/video/slave.png" class="video--slave-image is-static">
        <img src="/images/video/slave.gif" class="video--slave-image is-animated">
      </div>
    </section>
    <section class="video--pain-in-the-butt">
      <h2 class="video--pain-in-the-butt-header">Coming soon</h2>
    </section>
  </div>
</div>
<div id="video-container" class="example-video" data-ng-show="showVideo">
  <video id="troll-painter" class="video-js vjs-default-skin" controls preload="auto" poster="http://video-js.zencoder.com/oceans-clip.png">
    <source src="http://video-js.zencoder.com/oceans-clip.mp4" type="video/mp4" />
    <source src="http://video-js.zencoder.com/oceans-clip.webm" type="video/webm" />
    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type="video/ogg" />
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>
  <video id="broke-teenager" class="video-js vjs-default-skin" controls preload="auto" poster="http://video-js.zencoder.com/oceans-clip.png">
    <source src="http://video-js.zencoder.com/oceans-clip.mp4" type="video/mp4" />
    <source src="http://video-js.zencoder.com/oceans-clip.webm" type="video/webm" />
    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type="video/ogg" />
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>
  <video id="slave" class="video-js vjs-default-skin" controls preload="auto" poster="http://video-js.zencoder.com/oceans-clip.png">
    <source src="http://video-js.zencoder.com/oceans-clip.mp4" type="video/mp4" />
    <source src="http://video-js.zencoder.com/oceans-clip.webm" type="video/webm" />
    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type="video/ogg" />
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>
  <video id="pain-in-the-butt" class="video-js vjs-default-skin" controls preload="auto" poster="http://video-js.zencoder.com/oceans-clip.png">
    <source src="http://video-js.zencoder.com/oceans-clip.mp4" type="video/mp4" />
    <source src="http://video-js.zencoder.com/oceans-clip.webm" type="video/webm" />
    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type="video/ogg" />
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>
</div>
