<section class="quiz">
  <div class="quiz--inner">
    <h2 class="quiz--result">Du fik: <[result]> point</h2>
    <h2 class="quiz--result" data-ng-show="challengerResult !== null">Din modstander fik: <[challengerResult]> point</h2>
    <h3 class="quiz--text">Del dit resultat: <[link]></h3>
    <h3 class="quiz--text">Eller </h3>
    <input type="button" ng-click="shareOnFacebook()" value="Del på Facebook" class="quiz--share-button">

    <h3 class="quiz--text" data-ng-show="facebookStatusText !== ''"><[facebookStatusText]></h3>
  </div>
  <div class="quiz--background"></div>
</section>
  