<div class="static-page--header">
  <h1 class="static-page--heading">Undervisningsmateriale</h1>
</div>
<div class="static-page--content-wrapper"r>
  <div data-ng-include="" include-replace src="'/partials/undervisningsmateriale/snippets/static-page-nav.html'"></div><!--
--><div class="static-page--content">
    <h2 class="static-page--sub-heading">Undervisningsmateriale</h2>
    <section class="static-page--section">
      <p>På opfordring fra de involverede lærere er undervisningskonceptet skalérbart, dvs. at man kan vælge at bruge hhv. 1, 2 eller 4 lektioner på det.</p>
      <p>Det kan bruges tværfagligt og involvere medier som film, billeder, tekstskrivning og sociale medier. Konceptet rummer samtidig mulighed for dybere refleksion over de samfundsmæssige konsekvenser af digitalisering.</p>
      <p>Center for Læring har været en stærk del af samarbejdet og har sikret, at alle dele af konceptet lever op til ”Nye forenklede fællesmål” fra Undervisningsministeriet.</p>
      <p>I finder undervisningsvejledninger her på siden, hvor I også kan finde links til borger.dk, demomiljø i digitale selvbetjeningsløsninger og grafisk materiale til brug i undervisningen.</p>
    </section>
    <a href="#top" du-smooth-scroll class="static-page--top-link">Til toppen af siden</a>
  </div>
</div>
