<div class="static-page--header">
  <h1 class="static-page--heading">Undervisningsmateriale</h1>
</div>
<div class="static-page--content-wrapper"r>
  <div data-ng-include="" include-replace src="'/partials/undervisningsmateriale/snippets/static-page-nav.html'"></div><!--
--><div class="static-page--content">
    <h2 class="static-page--sub-heading">Undervisningsmateriale</h2>
    <section class="static-page--section">
      <p>
        Her finder du undervisningsvejledninger til Digital ABC. Materialet er skalérbart, så man kan vælge at bruge
        1, 2 eller 4 lektioner. Det kan bruges tværfagligt og involverer medier som film, billeder, tekstskrivning og
        sociale medier. Materialet findes også her på siden i en PDF-version, lige til at hente ned.
      </p>
    </section>
    <a href="#top" du-smooth-scroll class="static-page--top-link">Til toppen af siden</a>
  </div>
</div>
