{% extends 'DigitalABCMainBundle:Default:layout.html.twig' %}

{% block body %}
  {{ parent() }}
  <section class="layout--quiz">
    <div class="layout--quiz--inner">
      <div data-ng-view="" class="view-frame">
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="/js/quiz/directives.js"></script>
  <script src="/js/quiz/routing.js"></script>
  <script src="/js/quiz/factory.js"></script>
  <script src="/js/quiz/controllers.js"></script>
{% endblock %}
