{% extends 'DigitalABCMainBundle:Default:layout.html.twig' %}

{% block body %}
  {{ parent() }}
  <div data-ng-view="" ng-class="layout" class="view-frame">
  </div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="/js/quiz/directives.js"></script>
  <script src="/js/quiz/factory.js"></script>
  <script src="/js/quiz/controllers.js"></script>
{% endblock %}
