<div class="static-page--header">
  <h1 class="static-page--heading">Til andre kommuner</h1>
</div>
<div class="static-page--content-wrapper">
  <div data-ng-include="" include-replace src="'/partials/om-projektet/snippets/static-page-nav.html'"></div><!--
--><div class="static-page--content">
    <h2 class="static-page--sub-heading">Til andre kommuner</h2>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Vi har et fælles ansvar for at styrke vores unge i digitaliseringen</h3>
      <p>
        Digital ABC er blevet til i et samarbejde mellem Aarhus Kommunes Borgerservice og Biblioteker og magistraten for Børn og Unge, Center for Læring.
        Unge fra udskolingsklasser i Aarhus har været drivkraft, samskabere og idémagere igennem hele processen omkring udvikling af undervisningskonceptet. Der har desuden deltaget lærere og medarbejdere fra Borgerservice og Biblioteker.
      </p>
      <h3 class="static-page--paragraph-heading">Digital ABC - det er en deler</h3>
      <p>
        Vi vil gerne dele vores koncept med alle interesserede, da det vigtigste for os er at nå og hjælpe så mange unge som muligt.
        www.digitalabc.dk er open source, og vi inviterer alle landets kommuner til at benytte sig af den. Den kan enten versioneres til eget brug eller bruges, som den er.
        Der ligger også grafisk materiale på hjemmesiden, som alle er velkomne til at benytte. Vi beder dog om, at I ude i de enkelte kommuner opretter en særskilt Facebookgruppe, og at I sender en mail til os, hvis I bruger vores materialer. På den måde kan vi følge med i hvor mange, der sammen gør en indsats for at ruste vores unge medborgere til digitalisering.
      </p>
    </section>
  <a href="#top" du-smooth-scroll class="static-page--top-link">Til toppen af siden</a>
  </div>
</div>
