<div class="static-page--header">
  <h1 class="static-page--heading">Til andre kommuner</h1>
</div>
<div class="static-page--content-wrapper">
  <div data-ng-include="" include-replace src="'/partials/om-projektet/snippets/static-page-nav.html'"></div><!--
--><div class="static-page--content">
    <h2 class="static-page--sub-heading">Til andre kommuner</h2>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Vi har et fælles ansvar for at styrke vores unge i digitaliseringen</h3>
      <p>
        Digital ABC er blevet til i et samarbejde mellem Aarhus Kommunes Borgerservice og Biblioteker og magistraten for Børn og Unge, Center for Læring.
        Unge fra udskolingsklasser i Aarhus har været drivkraft, samskabere og idémagere igennem hele processen omkring udvikling af undervisningskonceptet. Der har desuden deltaget lærere og medarbejdere fra Borgerservice og Biblioteker.
      </p>
      <h3 class="static-page--paragraph-heading">Digital ABC - det er en deler</h3>
      <p>
        www.digitalabc.dk er open source, og alle landets kommuner kan benytte sig af den samt brufe det grafiske materiale på hjemmesiden, som 
        er tilgængeligt på hjemmesiden. Digital ABC er udviklet af Aarhus Kommune, og er i 2016 støttet af Digitaliseringsstyrelsen.
      </p>
    </section>
  <a href="#top" du-smooth-scroll class="static-page--top-link">Til toppen af siden</a>
  </div>
</div>
