<section class="static-page--section">
  <h3 class="static-page--paragraph-heading">Motivation</h3>
  <p>
    Det er politisk besluttet, at alle unge over 15 ved udgangen af november 2014 skal have et NemID og en aktiveret
    digital postkasse – de bliver digitale borgere!
    Det er vigtigt, at de unge ved dette, og at de øver sig i digital selvbetjening, for det er kanalen til
    kommunikation mellem det offentlige/kommunen og borgerne i fremtiden.
  </p>
  <p>
    Det offentlige begynder at sende post til de unges digitale postkasse fra november 2014, og hvis ikke de har
    aktiveret den og tjekker den jævnligt, kan de risikere at gå glip af vigtige beskeder eksempelvis bøder,
    oplysninger om skat eller anden offentlig kommunikation.
  </p>
  <p>
    En væsentlig barriere for mange unge i forhold til Digital Selvbetjening er sprogbruget på offentlige hjemmesider.
    I denne øvelse får de mulighed for at undersøge, forstå, fortolke og påvirke offentligt sprog/forvaltningssprog.
    Andre unge i hele landet vil kunne se de ”umulige ord” på Instagram og se deres ordforklaringer på Facebook og
    YouTube. Det samme kan politikere og forvaltninger.
  </p>
</section>