<section class="static-page--section">
  <h3 class="static-page--paragraph-heading">Øvelsens placering ift. ”Forenklede Fællesmål i faget Dansk”</h3>
  <p>It og Kommunikation, 7.-9. kl.:</p>
  <ul class="static-page--list">
    <li class="static-page--list-item">
      ”Eleven kan handle i forhold til nye digitale udfordringer og betingelser”.
    </li>
    <li class="static-page--list-item">
      "Eleven kan diskutere betydningen af digitale kommunikationsteknologier for eget liv og Fællesskab”.
    </li>
  </ul>
</section>