<nav class="static-page--nav">
  <div class="static-page--nav-item-wrapper">
    <a href="/#/om-projektet" class="nav--item" data-ng-class="setActiveMenuItem('/om-projektet')">Om projektet</a>
    <a href="/#/om-projektet/unge" class="nav--sub-item" data-ng-class="setActiveMenuItem('/om-projektet/til-de-unge')">Til de unge</a>
    <a href="/#/om-projektet/laererne" class="nav--sub-item" data-ng-class="setActiveMenuItem('/om-projektet/til-laererne')">Til lærerne</a>
    <a href="/#/om-projektet/foraeldre" class="nav--sub-item" data-ng-class="setActiveMenuItem('/om-projektet/til-foraeldrene')">Til forældrene</a>
    <a href="/#/om-projektet/andre-kommuner" class="nav--sub-item" data-ng-class="setActiveMenuItem('/om-projektet/til-andre-kommuner')">Til andre kommuner</a>
  </div>
</nav>