<div class="static-page--page-top" id="top"></div>
<nav class="static-page--nav">
  <div class="static-page--nav-item-wrapper">
    <a href="/#/om-projektet" class="nav--item" data-ng-class="setActiveMenuItem('/om-projektet')">Om projektet</a>
    <a href="/#/om-projektet/unge" class="nav--sub-item" data-ng-class="setActiveMenuItem('/om-projektet/unge')">Til de unge</a>
    <a href="/#/om-projektet/laererne" class="nav--sub-item" data-ng-class="setActiveMenuItem('/om-projektet/laererne')">Til lærerne</a>
    <a href="/#/om-projektet/foraeldre" class="nav--sub-item" data-ng-class="setActiveMenuItem('/om-projektet/foraeldre')">Til forældrene</a>
    <a href="/#/om-projektet/andre-kommuner" class="nav--sub-item" data-ng-class="setActiveMenuItem('/om-projektet/andre-kommuner')">Til andre kommuner</a>
    <a href="/#/om-projektet/credits" class="nav--sub-item" data-ng-class="setActiveMenuItem('/om-projektet/credits')">Credits</a>
    <a href="/#/om-projektet/kontakt" class="nav--sub-item" data-ng-class="setActiveMenuItem('/om-projektet/kontakt')">Kontakt</a>
    <a href="/#/om-projektet/privatlivspolitik" class="nav--sub-item" data-ng-class="setActiveMenuItem('/om-projektet/privatlivspolitik')">Privatlivspolitik</a>
  </div>
</nav>