<div class="static-page--header">
  <h1 class="static-page--heading">Konkurrencen</h1>
</div>
<div class="static-page--content-wrapper">
  <div data-ng-include="" include-replace src="'/partials/om-projektet/snippets/static-page-nav.html'"></div><!--
--><div class="static-page--content">
  <h2 class="static-page--sub-heading">Konkurrencen</h2>
  <section class="static-page--section">
    <h3 class="static-page--paragraph-heading">Er jeres klasse ”Aarhusmestre i Digital Selvbetjening”?</h3>
    <p>
      Hvad betyder det at være digital borger i 2015?
      Det skal I svare på, hvis I vil være med i konkurrencen om fede præmier til klassen.
      Her på DigitalABC.dk kan I se filmene om Mikkel, som viser eksempler på, hvornår unge har brug for Digital Selvbetjening – og hvor galt det kan gå, hvis man ikke bruger det.
      <a href="/#/video">Se filmene her</a>, og giv os så jeres bud på en situation, hvor I tror, I får brug for Digital Selvbetjening.
    </p>

    <h3 class="static-page--paragraph-heading">Opgaven</h3>
    <ul class="static-page--list">
      <li class="static-page--list-item">Producér en kort film om, hvorfor Digital Selvbetjening er relevant for jer.</li>
      <li class="static-page--list-item">Lav en reportage, hvor I reflekterer over Digital Selvbetjening generelt og fortæller, hvorfor netop I er Aarhusmestre i Digital Selvbetjening.</li>
    </ul>

    <h3 class="static-page--paragraph-heading">Præmien</h3>
    <p>To 3D-printere til klassen, en workshop om 3D-print til lærerne samt lækkerier og et kontantbeløb til en fest.</p>

    <h3 class="static-page--paragraph-heading">Tilmelding</h3>
    <p>Jeres lærer skal melde jer til konkurrencen: Send en mail til hsc@aarhus.dk med navnet på jeres klasse, skole og kontaktperson samt kontaktoplysninger. Tilmeldingsfristen er d. 20. februar 2015. ”Aarhusmestre i Digital Selvbetjening” er for alle udskolingsklasser i Aarhus Kommune.</p>

    <h3 class="static-page--paragraph-heading">Deadline</h3>
    <p>Alle bidrag skal være inde senest d. 15. maj 2015. Vinderen kåres 1. juni.</p>

    <h3 class="static-page--paragraph-heading">Husk</h3>
    <p>I kan løbende følge andre klassers bidrag på Digital ABC’s Facebookside, på Instagram under #digitalabc og på YouTube.</p>

    <h3 class="static-page--paragraph-heading">Se mere</h3>
    <p>Find mere information under undervisningsmaterialer og <a href="/#/undervisningsmateriale/lav-din-egen-film">”Lav din egen film”</a>.</p>
  </section>
  <a href="#top" du-smooth-scroll class="static-page--top-link">Til toppen af siden</a>
</div>
</div>
