<div class="static-page--header">
  <h1 class="static-page--heading">Til de unge</h1>
</div>
<div class="static-page--content-wrapper">
  <div data-ng-include="" include-replace src="'/partials/om-projektet/snippets/static-page-nav.html'" id="top"></div><!--
--><div class="static-page--content">
    <h2 class="static-page--sub-heading">Til de unge</h2>
    <section class="static-page--section">
      <p>Er du fyldt 15? Har du et NemID og tjekker du din digitale postkasse?</p>
      <p><strong>Fra d. 1. november 2014 er alle over 15 år digitale borgere.</strong></p>
      <p>Det betyder, at det offentlige sender papirer, breve og vigtige beskeder til din digitale postkasse på nettet.
        Derfor skal du skal have oprettet et NemID så du kan tjekke din digitale postkasse.</p>
      <p>Det offentlig sender f.eks. lønsedler, skattepapirer og rykkere til din digitale postkasse. Og med dit NemID
        skal du sikkert også snart til f.eks. at melde flytning og søge om ungdomskort til bussen. Det foregår alt
        sammen på nettet.</p>
      <p>Når du tjekker din digitale postkasse, kan du samtidig give dine forældre læseadgang. Det kan være rart at dele
        både ansvar og information med dem. Du kan også bede om at få en sms, når der er post til dig, det gør det hele
        lidt lettere, for mobilen er jo altid ved hånden.</p>
      <p>Her på hjemmesiden findes et demomiljø, som hedder digital Ambassadør. Det indeholder kopiversioner af alle
        Aarhus Kommunes selvbetjeningsløsninger. Her kan du øve dig på den digitale selvbetjening og skrive og udfylde i
        skemaerne, uden at der sker noget ved det.</p>
      <p>Du kan også finde links til bestilling af NemID, telefonnummer til den Digitale Hotline samt en Facebookside,
        hvor du kan stille spørgsmål omkring Digital Selvbetjening. Husk, at du skal bruge dit pas eller sygesikringsbevis
        samt dåbs- eller navneattest, når du skal have oprettet dit NemID.</p>
      <p>Og så kan du (og din klasse) se animerede film, tage Digitalparathedsquizzen, lave jeres egen film og meget
        andet både på hjemmesiden, Facebook, YouTube og Instagram.</p>
      <p>God fornøjelse – vi håber, du får tjek på NemID og Digital Post.</p>
      <p>Vi ses på <a href="http://www.facebook.com/tjekpaanemid" title="Tjek på NemID på facebook">www.facebook.com/tjekpaanemid</a></p>
      <p>KH</br>
      Kommunen</p>
    </section>
  <a href="#top" du-smooth-scroll class="static-page--top-link">Til toppen af siden</a>
  </div>
</div>
