<div class="static-page--header">
  <h1 class="static-page--heading">Til de unge</h1>
</div>
<div class="static-page--content-wrapper" du-scroll-container>
  <div data-ng-include="" include-replace src="'/partials/om-projektet/snippets/static-page-nav.html'"></div><!--
--><div class="static-page--content">
    <h2 class="static-page--sub-heading">Til de unge</h2>
    <section class="static-page--section">
      <p>Er du fyldt 15? Har du et NemID og en aktiveret digital postkasse? </br>
      <strong>Fra d. 1. november 2014 bliver alle over 15 år digitale borgere.</strong></p>

      <p>Det betyder, at det offentlige begynder at sende papirer, breve og vigtige beskeder til din digitale postkasse på nettet. Derfor skal du skal have oprettet et NemID og aktiveret din digitale postkasse, så du er klar. </br>
      Det offentlig begynder at sende f.eks. lønsedler, skattepapirer og rykkere til din digitale postkasse. Og med dit NemID skal du snart til f.eks. at melde flytning og søge om ungdomskort til bussen via den digitale selvbetjening.</p>

      <p>Her på hjemmesiden findes et demomiljø, som hedder digital Ambassadør. Det indeholder kopiversioner af alle Aarhus Kommunes selvbetjeningsløsninger. Her kan du øve dig på den digitale selvbetjening, for du kan skrive og udfylde i skemaerne, uden at der sker noget ved det. </br>
      Du kan også finde links til bestilling af NemID, telefonnummer til den Digitale Hotline samt en Facebookgruppe, hvor du kan stille spørgsmål omkring Digital Selvbetjening. Husk, at du skal bruge dit pas eller sygesikringsbevis samt navneattest, når du skal have oprettet dit NemID. </br>
      Og så kan du (og din klasse) se animerede film, tage digitalparathedsquizzen, lave jeres egen film og meget andet både på hjemmesiden, Facebook, YouTube og Instagram.  </br>
      God fornøjelse – vi håber, du får tjek på NemID og Digital Post.</br> 
      Vi ses på www.facebook.com/tjekpaanemid</p>

      <p>KH</br>
      Kommunen</p>
    </section>
  </div>
</div>
