<!DOCTYPE html>
<html data-ng-app="abcApp" data-ng-controller="HeaderController" data-ng-class="{'is-locked': menuOpen !== null && menuOpen}">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# {{facebook_app_namespace}}: http://ogp.me/ns/fb/{{facebook_app_namespace}}#">
    <title>Digital ABC</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    {% block metatags %}{% endblock %}
    <link rel="stylesheet" href="/css/styles.css">
    <!--[if IE 9]>
        <link rel="stylesheet" href="/css/ie9.css">
    <![endif]-->
    <link rel="stylesheet" href="/css/fonts/bebas/bebas.css">
</head>
<body data-ng-class="{'is-locked': menuOpen !== null && menuOpen}">
    <a class="nav-overlay" data-ng-class="{'is-visible': menuOpen !== null && menuOpen}" data-ng-click="toggleMenu()"></a>
    <nav class="nav" data-ng-class="{'is-visible': menuOpen !== null && menuOpen, 'is-hidden': menuOpen !== null && !menuOpen}">
        <svg class="nav-toggle-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 157 157" enable-background="new 0 0 157 157" xml:space="preserve" data-ng-click="toggleMenu()">
            <path d="M93.5,78.6L107,92.1l-15,15L78.5,93.6L65,107.1L50,92l13.5-13.5L50,65.1l15-15l13.5,13.5L92,50l15,15L93.5,78.6z
            M64.5,135.9h11V157h-11c-23.8,0-41.5-6.5-52.6-19.2c-7.8-9-12-21-12-34.6V53.4C0,39.9,4.1,28,11.9,19.1C22.9,6.4,40.5,0,64.2,0
            h11.3v21.1H64.2c-28.7,0-43.1,10.7-43.1,32.3v49.7C21.1,125,35.5,135.9,64.5,135.9z M157,53.4v49.7c0,13.6-4.1,25.6-12,34.6
            C134,150.5,116.3,157,92.5,157h-11v-21.1h11c29,0,43.4-10.9,43.4-32.7V53.4c0-21.6-14.4-32.3-43.1-32.3H81.5V0h11.3
            c23.7,0,41.3,6.4,52.3,19.1C152.9,28,157,39.9,157,53.4z"/>
        </svg>
        <h2 class="nav--header">Navigation</h2>
        <div class="nav--item-wrapper">
            <a href="#" class="nav--item">Ta' Quizzen!</a>
            <a href="#" class="nav--item">Se videoerne</a>
            <a href="#" class="nav--item">Musikvideo: "Kom med mig"</a>
        </div>
        <div class="nav--item-wrapper">
            <a href="#" class="nav--item">For lærerne</a>
                <a href="#" class="nav--sub-item">Digital parathed (1 lektion)</a>
                <a href="#" class="nav--sub-item">Sidste omgang (2 lektioner)</a>
                <a href="#" class="nav--sub-item">#FarvelForvaltLingo (4 lektioner)</a>
            <a href="#" class="nav--item">Om projektet</a>
            <a href="#" class="nav--item">Digamp.dk - Demomiljø</a>
        </div>
    </nav>

    <header class="header" role="banner">
        <div class="header--inner">
            <a href="{{ path('digital_abc_main_homepage') }}" title="Digital ABC" class="header--logo">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 633.2 157" enable-background="new 0 0 633.2 157" xml:space="preserve">
                    <path class="logo-symbol" fill="#fff" d="M64.5,135.9h11V157h-11c-23.8,0-41.5-6.5-52.6-19.2c-7.8-9-12-21-12-34.6V53.4C0,39.9,4.1,28,11.9,19.1
                        C22.9,6.4,40.5,0,64.2,0h11.3v21.1H64.2c-28.7,0-43.1,10.7-43.1,32.3v49.7C21.1,125,35.5,135.9,64.5,135.9z M145.1,19.1
                        C134.1,6.4,116.5,0,92.8,0H81.5v21.1h11.3c28.7,0,43.1,10.7,43.1,32.3v49.7c0,21.9-14.4,32.7-43.4,32.7h-11V157h11
                        c23.8,0,41.5-6.5,52.6-19.2c7.8-9,12-21,12-34.6V53.4C157,39.9,152.9,28,145.1,19.1z M81.3,104.5h-7.6v13.4h10.7
                        c19.9,0,29.8-7.5,29.8-22.5V61.3c0-14.8-9.9-22.2-29.6-22.2h-11v13.4H81c7.9,0,11.4,2.4,11.4,8.1v36.9
                        C92.4,102.3,89.2,104.5,81.3,104.5z M49.3,117.9h21.1V39.1H49.3V117.9z"/>
                    <path class="logo-text" fill="#fff" d="M603,80.7c0-3.7,1.9-5.9,5-6.3V62.7c-14.4,0.3-21.7,6.5-21.7,18.5v18.1c0,12.6,7.3,19.3,21.7,19.8v-11.8
                        c-3.3-0.6-5-2.9-5-7V80.7z M616.6,86.6h16.6v-5.2c0-12.1-7.4-18.4-22.1-18.7v11.7c3.7,0.5,5.5,2.6,5.5,6.3V86.6z M633.2,95h-16.6
                        v5.4c0,4-1.8,6.3-5.5,7v11.8c14.7-0.6,22.1-7.2,22.1-19.7V95z M533.7,117.8h16.4v-80h-16.4V117.8z M556.8,73.9
                        c4.5,0,6.7,2.3,6.7,6.8v21.8c0,3.7-2.1,5.2-6.2,5.2c-1.5,0-3-0.6-4.3-1.7v9.3c3.5,2.3,7.6,3.4,12.3,3.4c10.3,0,14.9-6.4,14.9-18.4
                        V82.3c0-13.6-4.9-19.6-16.1-19.6c-4.4,0-8.1,1-11.1,3.1v9.6C554.1,74.4,555.3,73.9,556.8,73.9 M475.7,102.2c0,10.8,6.4,16.3,19,16.3
                        c3.9,0,7.1-0.8,9.6-2.4V106c-1.9,0.7-4.1,0.8-7.2,0.8c-2.9,0-4.5-2.2-4.6-6.5c0.3-3.5,3.8-6.3,11.7-8.2V81.7
                        C484.4,84.4,475.7,91,475.7,102.2 M507.6,110.3c0,3.1,0.6,5.5,2.5,7.6h16.4c-1.4-2.5-2.1-9.8-2.1-21.9V79c0-10.8-7.3-16.3-21.7-16.3
                        c-16.2,0-24.4,5.7-24.4,17.1h16.4c0.3-3.9,2.9-5.4,8-5.4c3.3,0,4.9,1.6,4.9,4.7V110.3z M437.5,117.8h16.4v-80h-16.4V117.8z
                         M379.5,102.2c0,10.8,6.4,16.3,19,16.3c3.9,0,7.1-0.8,9.6-2.4V106c-1.9,0.7-4.1,0.8-7.2,0.8c-2.9,0-4.5-2.2-4.6-6.5
                        c0.3-3.5,3.8-6.3,11.7-8.2V81.7C388.1,84.4,379.5,91,379.5,102.2 M411.4,110.3c0,3.1,0.6,5.5,2.5,7.6h16.4
                        c-1.4-2.5-2.1-9.8-2.1-21.9V79c0-10.8-7.3-16.3-21.7-16.3c-16.2,0-24.4,5.7-24.4,17.1h16.4c0.3-3.9,2.9-5.4,8-5.4
                        c3.3,0,4.9,1.6,4.9,4.7V110.3z M347.3,47.7V101c0,12.2,6.8,18.3,20.4,18.4c3.7-0.4,6.4-0.6,7.9-0.9v-11.3c-2.3,0.3-4.1,0.4-5.6,0.4
                        c-4.4,0-6.6-2.5-6.6-7.6V47.7H347.3z M365.9,76.5h6.9V64h-6.9V76.5z M338.9,76.5h6.5V64h-6.5V76.5z M317.8,117.8h16.1V64h-16.1
                        V117.8z M317.8,56.7h16.4V43.9h-16.4V56.7z M285.7,104.5c-4.5,0-5.7-3.8-5.7-7.4V79.4c0-3.9,2-5.1,6-5.1c1.5,0,3.1,0.5,4.6,1.4v-9.2
                        c-3.6-2.3-7.8-3-12.6-3.3c-10.3,0.3-14.7,6-14.7,18.4v14.4c0,13.1,5.9,19.7,17.5,19.7c4.3-0.2,7.6-1.7,9.9-4.6v-9.6
                        C289.4,103.6,287.8,104.5,285.7,104.5 M309.2,64h-15.1v50.4c0,7.9-4.2,9.9-12.1,9.9c-2.5,0-4.4-0.1-5.5-0.5v10.9
                        c2.7,0.4,5.4,0.9,8.2,0.9c16.4,0,24.6-8.3,24.6-24.8V64z M239.3,117.8h16.1V64h-16.1V117.8z M239.3,56.7h16.4V43.9h-16.4V56.7z
                         M207.1,73.9c1.5,0,2.8,0.5,3.9,1.5v-9.6c-3.1-2.1-7-3.1-11.7-3.1c-10.7,0-15.6,6.4-15.6,19.6v17.8c0,12,4.9,18.4,14.8,18.4
                        c4.9,0,9.1-1.1,12.5-3.4v-9.3c-1.5,1.1-3,1.7-4.5,1.7c-3.9,0-6.1-1.5-6.1-5.2V80.6C200.5,76.2,202.7,73.9,207.1,73.9 M213.9,117.8
                        h16.4v-80h-16.4V117.8z"/>
                </svg>
            </a>
            <svg class="nav-toggle-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 157 157" enable-background="new 0 0 157 157" xml:space="preserve" data-ng-click="toggleMenu()">
                <path fill="#fff" d="M108.7,60.2H49.2V39h59.5V60.2z M49.2,117.9h59.5V96.7H49.2V117.9z M108.7,67.9H49.2v21.2h59.5V67.9z
                 M21.1,103.1V53.4c0-21.6,14.4-32.3,43.1-32.3h11.3V0H64.2C40.5,0,22.9,6.4,11.9,19.1C4.1,28,0,39.9,0,53.4v49.7
                c0,13.6,4.1,25.6,12,34.6C23,150.5,40.7,157,64.5,157h11v-21.1h-11C35.5,135.9,21.1,125,21.1,103.1z M145.1,19.1
                C134.1,6.4,116.5,0,92.8,0H81.5v21.1h11.3c28.7,0,43.1,10.7,43.1,32.3v49.7c0,21.9-14.4,32.7-43.4,32.7h-11V157h11
                c23.8,0,41.5-6.5,52.6-19.2c7.8-9,12-21,12-34.6V53.4C157,39.9,152.9,28,145.1,19.1z"/>
            </svg>
        </div>
    </header>

    {% block body %}{% endblock %}

    <!-- Global script imports -->
    <script src="/js/libraries/jquery-1.11.1.min.js"></script>
    <script src="/js/libraries/angular-1.2.16.min.js"></script>
    <script src="/js/libraries/angular-animate-1.2.16.js"></script>
    <script src="/js/libraries/angular-route-1.2.16.js"></script>
    <script src="/js/libraries/angular-touch-1.2.16.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/main/controllers.js"></script>

    {% block javascripts %}{% endblock %}
</body>
</html>
