<div class="static-page--header">
  <h1 class="static-page--heading">Kontakt</h1>
</div>
<div class="static-page--content-wrapper">
  <div data-ng-include="" include-replace src="'/partials/om-projektet/snippets/static-page-nav.html'"></div><!--
--><div class="static-page--content" id="top">
    <h2 class="static-page--sub-heading">Kontakt</h2>
    <section class="static-page--section">
      <p>
        Digital ABC er støttet af Aarhus Kommunens Innovationspulje frem til oktober 2015.<br>
        Projektet er et samarbejde mellem magistraten for Børn og Unge og magistraten for Kultur og Borgerservice.
      </p>
      <p>
        Projektejer: Henrik Traberg<br>
        Projektleder: Helene Bruhn Schvartzman
      </p>
      <p>For spørgsmål og yderligere information om Digital ABC: <a href="mailto:kontakt@digitalabc.dk">kontakt@digitalabc.dk</a></p>
    </section>
  <a href="#top" du-smooth-scroll class="static-page--top-link">Til toppen af siden</a>
  </div>
</div>
