<div class="static-page--page-top" id="top"></div>
<nav class="static-page--nav">
  <div class="static-page--nav-item-wrapper">
    <a href="/#/digital-ambassadoer" class="nav--item" data-ng-class="setActiveMenuItem('/digital-ambassadoer')">Digital ambassadør</a>
    <a href="http://www.digamb.dk/www.aarhus.dk/" class="nav--sub-item" target="_blank">aarhus.dk - Demomiljø</a>
    <a href="http://borger.digamb.dk/start/aarhus" class="nav--sub-item" target="_blank">borger.dk - Demomiljø</a>
  </div>
</nav>