/**
 *
 * Variables
 *
 */


// Handle inline-block margin bug
// We should move this to some other file, no idea which one at the moment so for now it stays here.
%grid-markup-fix {
  margin-right: -4px;
}



/* Breakpoints
   ================================================================================================================== */


$breakpoint-lap:          481px;
$breakpoint-desk:         1024px;
$breakpoint-bigscreen:    1700px;

$breakpoint-height:       800px;



/* Layout
   ================================================================================================================== */

$layout-max-width: 75em;
$border-radius:    .6em;



/* Colors
   ================================================================================================================== */

$theme-color:      #0abbef;
$black:            #000;
$white:            #fff;

$gray-lightest:    lighten($black, 90%);
$gray-lighter:     lighten($black, 80%);
$gray-light:       lighten($black, 70%);
$gray:             lighten($black, 60%);
$gray-dark:        lighten($black, 50%);
$gray-darker:      lighten($black, 40%);
$gray-darkest:     lighten($black, 30%);

$text-color-dark:  $gray-darker;



/* Typograhy
   ================================================================================================================== */

$font-primary:          'bebas_neueregular';
$font-secondary:        'permianseriftypefaceregular';
$font-secondary-bold:   'permianseriftypefacebold';
$font-family-primary:   'bebas_neueregular', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-secondary: $font-secondary, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-primary:          1em/1.5 $font-family-primary;
$font-secondary:        1em/1.5 $font-family-secondary;



/* Link colors
   ================================================================================================================== */

$link-color:       #0abbef;
