/**
 *
 * Variables
 *
 */


// Handle inline-block margin bug
// We should move this to some other file, no idea which one at the moment so for now it stays here.
%grid-markup-fix {
  margin-right: -4px;
}


/* Layout
   ================================================================================================================== */

$layout-max-width:    75em;
$border-radius:       .4em;



/* Breakpoints
   ================================================================================================================== */


$breakpoint-lap:          481px;
$breakpoint-desk:         1024px;
$breakpoint-bigscreen:    1700px;



/* Layout
   ================================================================================================================== */

$border-radius:    .6em;



/* Colors
   ================================================================================================================== */

$theme-color:      #0abbef;
$black:            #000;
$white:            #fff;
$gray-lightest:    lighten($black, 90%);
$gray-lighter:     lighten($black, 80%);
$gray-light:       lighten($black, 70%);
$gray:             lighten($black, 60%);
$gray-dark:        lighten($black, 50%);
$gray-darker:      lighten($black, 40%);
$gray-darkest:     lighten($black, 30%);



/* Typograhy
   ================================================================================================================== */

$font-family:      "Helvetica Neue", Helvetica, Arial, sans-serif;
$font:             1em/1.5 $font-family;



/* Link colors
   ================================================================================================================== */

$link-color:       blue;
