<div class="static-page--header">
  <h1 class="static-page--heading">Privatlivspolitik</h1>
</div>
<div class="static-page--content-wrapper" du-scroll-container>
  <div data-ng-include="" include-replace src="'/partials/om-projektet/snippets/static-page-nav.html'"></div><!--
--><div class="static-page--content">
  <h2 class="static-page--sub-heading">Privatlivspolitik</h2>
  <section class="static-page--section">
    <p>Vi bruger cookies til at opsamle statistik (med Google Analytics) om brugen af Digital ABC.</p>
  </section>
</div>
</div>
