<div class="static-page--header">
  <h1 class="static-page--heading">Cookie- og privatlivspolitik</h1>
</div>
<div class="static-page--content-wrapper">
  <div data-ng-include="" include-replace src="'/partials/om-projektet/snippets/static-page-nav.html'"></div><!--
--><div class="static-page--content">
  <h2 class="static-page--sub-heading">Cookie- og privatlivspolitik</h2>
  <section class="static-page--section">
    <strong>1. Hvad er cookies?</strong>
    <p>En cookie er en lille tekstfil, der lagres på din computer eller tilsvarende for at kunne genkende den. Der er ingen personlige oplysninger gemt i vores cookies, og de kan ikke indeholde virus.</p>
    <strong>2. Sådan sletter eller blokerer du for cookies</strong>
    <p>Du kan finde vejledning til at slette og blokere cookies her: <a href="http://minecookies.org/cookiehandtering">http://minecookies.org/cookiehandtering</a></p>
    <strong>3. Google Analytics</strong>
    <p>Vi bruger cookies fra Google Analytics til at måle trafikken på websitet. Du kan fravælge cookies fra Google Analytics her: <a href="http://tools.google.com/dlpage/gaoptout">http://tools.google.com/dlpage/gaoptout</a></p>
    <strong>4. Facebook</strong>
    <p>Vi bruger kun Facebook til at dele quizresultater med. Det kræver godkendelse, før Digital ABC må skrive på din Facebook-væg. Vi gemmer og bruger ikke informationer fra din Facebookkonto på vores site. Facebook har sin egen privatlivspolitik.</p>
  </section>
  <a href="#top" du-smooth-scroll class="static-page--top-link">Til toppen af siden</a>
</div>
</div>
