<div class="static-page--header">
  <h1 class="static-page--heading">Credits</h1>
</div>
<div class="static-page--content-wrapper">
  <div data-ng-include="" include-replace src="'/partials/om-projektet/snippets/static-page-nav.html'"></div><!--
--><div class="static-page--content" id="top">
    <h2 class="static-page--sub-heading">Credits</h2>
    <section class="static-page--section">
      <p>Digital ABC er blevet til ved en fælles indsats og der skal lyde en særlig tak til:</p>
      <p><img src="/images/digital_faelles_small.jpg"/></p>
      <p>
        <strong>Udvikling og test af undervisningskonceptet Digital ABC</strong><br>
        Unge fra 8.-9. klassetrin på N.J. Fjordsgades Skole i Aarhus.<br>
        Lærerne Maria Kusk, Peter Nyborg Olesen og Morten Mellergaard.<br>
        Lærere fra ”De 32” ved Center for Læring i Aarhus.<br>
        Mads og Vitus, som har bistået med rådgivning og demomiljø Medarbejdere fra Borgerservice og Biblioteker.
      </p>
      <p>
        <strong>"Ingen Stress" - tekst, musik og video</strong><br>
        Rap Akademiet og dansere fra Fritidscenter Gellerup-Toveshøj, Ung i Aarhus og ikke mindst Daniel Bé og Dion.
      </p>
      <p>
        <strong>Animationsfilm</strong><br>
        GotFat Productions, Talentfabrikken i Filmby Aarhus.
      </p>
      <p>
        <strong>Fotomateriale</strong><br>
        Simon Jeppesen: www.jeppezen.dk
      </p>
      <p>
        <strong>Design, layout og udvikling af website</strong><br>
        ITK, Aarhus Kommune.
      </p>
    </section>
  <a href="#top" du-smooth-scroll class="static-page--top-link">Til toppen af siden</a>
  </div>
</div>
