/**
 *
 * Videos components.
 *
 */



// Video section

%video--section {
  @extend %grid__item;
  @extend %palm--one-whole;
  @extend %lap--one-third;
  @extend %desk--one-third;
  @extend %bigscreen--one-third;

  position: relative;
  overflow: hidden;

  cursor: pointer;
  text-align: center;

  @include breakpoint($breakpoint-desk) {
    &:hover {
      .is-static {
        display: none;
      }

      .is-animated {
        display: inline;
      }
    }
  }
}


// Video section inner

%video--section-inner {
  background: none;
}


// Video section header

%video--section-header {
  position: relative;
  z-index: 95;

  color: $white;
  text-align: center;

  @include breakpoint($breakpoint-desk) {
    font-size: 4em;
  }

  @include breakpoint($breakpoint-bigscreen) {
    font-size: 7em;
  }
}


// Video section image

%video--section-image {
  position: relative;
  z-index: 90;

  width: 100%;

  &.is-animated {
    display: none;
  }
}