<div class="static-page--header">
  <h1 class="static-page--heading">For lærerne</h1>
</div>
<div class="static-page--content-wrapper" du-scroll-container>
  <nav class="static-page--nav">
    <div class="static-page--nav-item-wrapper">
      <a href="/#/for-laererne" class="static-page--nav-item is-active">For lærerne</a>
      <a href="/#/for-laererne/digital-parathed" class="static-page--nav-sub-item">Digital parathed (1 lektion)</a>
      <a href="/#/for-laererne/sidste-omgang" class="static-page--nav-sub-item">Sidste omgang (2 lektioner)</a>
      <a href="/#/for-laererne/farvel-forvalt-lingo" class="static-page--nav-sub-item">#FarvelForvaltLingo (4 lektioner)</a>
    </div>
  </nav>
  <div class="static-page--content">
  </div>
</div>
