<div class="static-page--page-top" id="top"></div>
<nav class="static-page--nav">
  <div class="static-page--nav-item-wrapper">
    <a href="/#/konkurrencen" class="nav--item" data-ng-class="setActiveMenuItem('/konkurrencen')">Konkurrencen</a>
    <a href="/#/video" class="nav--sub-item">Se filmene her</a>
    <a href="/#/undervisningsmateriale/lav-din-egen-film" class="nav--sub-item">Lav din egen film</a>
    <a href="https://www.facebook.com/tjekpaanemid" class="nav--sub-item" target="_blank">Facebook.com/TjekPaaNemID</a>
  </div>
</nav>