/**
 *
 * Layouts
 *
 */


/* Silent classes related to this document.
 *
 * ========================================================================== */

// Selector for displaying backgrounds properly.
%layout--set-background--selector {
  height: 100%;
  width: 100%;
  text-align: center;
}


/* Layout styles.
 *
 * ========================================================================== */

body {
  overflow-x: hidden;
  position: relative;

  font-size: .7em;

  @include breakpoint($breakpoint-lap) {
    font-size: .8em;
  }

  @include breakpoint($breakpoint-desk) {
    font-size: 1em;
  }
}




/* Header */

.header {
  position: fixed;
  width: 100%;

  &--inner {
    position: relative;
  }


  &--logo {
    position: absolute;
    top: 2em;
    left: 1em;

    display: block;
    max-width: 15em;

    @include breakpoint(30em) {
      top: 4em;
      left: 6em;
    }
  }
}
