/**
 *
 * Layouts
 *
 */


// ----- Selecters related to this document ----- //

// Selector for displaying backgrounds properly
%layout--set-background--selector {
  height: 100%;
  width: 100%;
  text-align: center;
}


/* Body - change font size on breakpoints throughout site. */

body {
  font-size: .7em;

  @include breakpoint($breakpoint-lap) {
    font-size: .8em;
  }

  @include breakpoint($breakpoint-desk) {
    font-size: 1em;
  }
}


/* Header */

.header {
  position: fixed;
  width: 100%;

  &--inner {
    position: relative;
  }


  &--logo {
    position: absolute;
    top: 1em;
    left: 1em;

    display: block;
    max-width: 15em;

    @include breakpoint(30em) {
      top: 4em;
      left: 6em;
    }
  }


  &--menu {
    position: absolute;
    top: 1em;
    right: 1em;

    display: block;
    max-width: 4em;

    @include animation(1s, item-show);

    @include breakpoint(30em) {
      top: 4em;
      right: 6em;
    }

    // Added by angular.
    &.is-hidden {
      @include animation(1s, item-hide);
    }
  }

  &--menu-image {
    max-width: 4em;
    width: 4em;
  }
}


// Quiz header

.quiz-header {
  background: url('/images/image-flip.jpg') no-repeat;
  @extend %layout--set-background--selector;
  @include background-size(cover);

  &--inner {
    position: relative;
    top: 50%;

    @include translateY(-50%);
  }


  &--text,
  &--question,
  &--punchline {
    color: $white;
    font-family: 'bebas_neueregular';
  }


  &--question {
    margin-bottom: 0;

    font-size: 4em;
  }


  &--punchline {
    font-size: 10em;
  }


  &--text {
    font-size: 2em;
  }


  &--button {
    @extend .button-transparent;

    font-size: 200%;
  }
}


// Layout for the quiz pages.

.layout--quiz {
  background: url('/images/quiz-bg.jpg') no-repeat;
  @extend %layout--set-background--selector;

  letter-spacing: .08em;

  @include background-size(cover);

  &--inner {
    position: relative;
    top: 50%;

    @include translateY(-50%);
  }
}