/**
 *
 * Layouts
 *
 */


/* Silent classes related to this document.
 *
 * ========================================================================== */

// Selector for displaying backgrounds properly.
%layout--set-background--selector {
  height: 100%;
  width: 100%;
  text-align: center;
}


/* Layout styles.
 *
 * ========================================================================== */


/* Make sure the user can't scroll when overlays are active */
html.is-locked,
html.is-locked  body {
  overflow: hidden;

  height: 100%;
}

body {
  overflow-x: hidden;
  position: relative;

  font-size: .7em;

  @include breakpoint($breakpoint-lap) {
    font-size: .8em;
  }

  @include breakpoint($breakpoint-desk) {
    font-size: 1em;
  }
}


.static-page.ng-enter, .static-page.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
}


.static-page.ng-enter {
  @include animation(fade-in 0.5s);
}


.static-page.ng-leave {
  @include animation(fade-out 0.5s);
}


/* Header */

.header {
  position: fixed;
  z-index: 98;
  width: 100%;

  &--inner {
    position: relative;
  }

  &--logo {
    position: absolute;
    top: 2.5em;
    left: 0;

    display: block;
    height: 3.5em;
    width: 18em;

    @include background-size(contain);

    @include breakpoint($breakpoint-desk) {
      top: 3em;
      left: 2em;
    }

    @include breakpoint($breakpoint-bigscreen) {
      top: 4em;
      left: 6em;
    }
  }
}


/* Layout */

%layout-inner {
  position: relative;
  top: 50%;

  padding-top: 6em;

  @include translateY(-50%);
}

.layout {
  height: 100%;
  width: 100%;

  &--inner {
    height: 100%;
  }
}
