/**
 *
 * Layouts
 *
 */


/* Silent classes related to this document.
 *
 * ========================================================================== */

// Selector for displaying backgrounds properly.
%layout--set-background--selector {
  height: 100%;
  width: 100%;
  text-align: center;
}


/* Layout styles.
 *
 * ========================================================================== */

body {
  overflow-x: hidden;
  position: relative;

  font-size: .7em;

  @include breakpoint($breakpoint-lap) {
    font-size: .8em;
  }

  @include breakpoint($breakpoint-desk) {
    font-size: 1em;
  }
}


/* Header */

.header {
  position: fixed;
  z-index: 98;
  width: 100%;

  &--inner {
    position: relative;
  }

  &--logo {
    position: absolute;
    top: 2em;
    left: 1em;

    display: block;
    height: 5.5em;
    width: 21.875em;

    .logo-text,
    .logo-symbol {
      fill: $white;
    }

    &:hover {
      .logo-text,
      .logo-symbol {
        fill: $theme-color;
      }
    }

    @include background-size(contain);

    @include breakpoint(30em) {
      top: 4em;
      left: 6em;
    }
  }
}


.kiwi {
  fill: #94d31b;

  // stroke: #909;
  // stroke-width: 10;

  // not sure which of these is correct
  // stroke-linejoin: butt | round | square;
  // stroke-linecap: butt | round | square;

  // stroke-dasharray: 5, 5, 10;

  // filter: url(#pictureFilter);
  // mask: url(#f1);
  // clip-path: url();
}
.kiwi:hover {
  fill: #ace63c;
}
