/**
 *
 * Variables
 *
 */



/* Layout
   ================================================================================================================== */

$border-radius:    .6em;



/* Colors
   ================================================================================================================== */

$black:            #000;
$white:            #fff;
$gray-lightest:    lighten($black, 90%);
$gray-lighter:     lighten($black, 80%);
$gray-light:       lighten($black, 70%);
$gray:             lighten($black, 60%);
$gray-dark:        lighten($black, 50%);
$gray-darker:      lighten($black, 40%);
$gray-darkest:     lighten($black, 30%);



/* Typograhy
   ================================================================================================================== */

$font-family:      "Helvetica Neue", Helvetica, Arial, sans-serif;
$font:             1em/1.5 $font-family;



/* Link colors
   ================================================================================================================== */

$link-color:       blue;


/* Spacing
   ================================================================================================================== */

$margin-bottom:    1.5em;
$padding-bottom:   1.5em;
