/**
 *
 * IE 9 styles.
 *
 */
/**
 *
 * Variables
 *
 */
/* Breakpoints
   ================================================================================================================== */
/* Layout
   ================================================================================================================== */
/* Colors
   ================================================================================================================== */
/* Typograhy
   ================================================================================================================== */
/* Link colors
   ================================================================================================================== */
/* Navigation */
/* line 14, ../sass/ie9.scss */
.nav.is-visible {
  opacity: 1;
  right: 0; }

/* line 21, ../sass/ie9.scss */
.nav-overlay.is-visible {
  background-color: rgba(0, 0, 0, 0.65); }
