<div class="static-page--header">
  <h1 class="static-page--heading">Til forældrene</h1>
</div>
<div class="static-page--content-wrapper">
  <div data-ng-include="" include-replace src="'/partials/om-projektet/snippets/static-page-nav.html'"></div><!--
--><div class="static-page--content">
    <h2 class="static-page--sub-heading">Til forældrene</h2>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Dit barn bliver digital borger</h3>
      <p>Kære forælder</p>
      <p>Det er politisk besluttet, at al kommunikation med det offentlige skal digitaliseres. Det betyder, at alle over 15 år skal have et NemID og en aktiveret digital postkasse inden d. 1. november, hvor det offentlige begynder at sende post til den personlige digitale postkasse.</p>
      <p>Hvis dit barn er fyldt 15 (eller snart bliver det), kan du også hjælpe. Snak med dit barn om digitaliseringen - måske kan I sammen oprette NemID og aktivere den digitale postkasse. Husk at man skal bruge pas eller sygesikring samt dåbs- eller navneattest for at kunne oprette NemID.   Unge over 15 år kommer til at modtage al kommunikation fra det offentlige i deres digitale postkasse, dvs. lønsedler, skattepapirer, rykkere på biblioteks- eller busbøder etc. Desuden skal de bruge NemID og digital selvbetjening, når de på et tidspunkt skal melde flytning, søge optagelse på en ungdomsuddannelse, søge om ungdomskort til bussen eller bestille et blåt sygesikringsbevis til udlandsrejsen.</p> 
      <p>Tal med dit barn om, at når de aktiverer den digitale postkasse, har de mulighed for at give læseadgang til forældre. Det kan være rart at dele både ansvar og information med dem. Jeres barn kan også bede om at få en sms, når der er post i den digitale postkasse, det gør også det hele lidt lettere, for mobilen er jo altid ved hånden.</p>
      <p> På hjemmesiden kan I både finde de nødvendige links samt humoristiske indslag omkring konsekvenserne af ikke at have styr på digital selvbetjening. Desuden kan I finde et demomiljø, som hedder digital Ambassadør. Det indeholder kopiversioner af alle Aarhus Kommunes selvbetjeningsløsninger. Her kan de unge øve sig på den digitale selvbetjening, da man kan skrive og udfylde i skemaerne, uden at der sker noget ved det.</p>
      <p>Vi ses på nettet!</p>
      <p>Med venlig hilsen</br>
      Kommunen
      </p>
    </section>
  <a href="#top" du-smooth-scroll class="static-page--top-link">Til toppen af siden</a>
  </div>
</div>
