<div class="static-page--header">
  <h1 class="static-page--heading">Til forældrene</h1>
</div>
<div class="static-page--content-wrapper">
  <div data-ng-include="" include-replace src="'/partials/om-projektet/snippets/static-page-nav.html'"></div><!--
--><div class="static-page--content">
    <h2 class="static-page--sub-heading">Til forældrene</h2>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Dit barn bliver digital borger</h3>
      <p>Kære forælder</p>
      <p>Det er politisk besluttet, at al kommunikation med det offentlige skal foregå digitalt.</p>
      <p>
        Alle borgere over 15 år er automatisk tildelt en digital postkasse på nettet. Man skal bruge NemID for at
        kunne tjekke sin postkasse.<br/>
        Unge over 15 år modtager al kommunikation fra det offentlige i deres digitale postkasse, dvs.
        lønsedler, skattepapirer, rykkere på biblioteks- eller busbøder etc. Desuden skal de bruge NemID og digital
        selvbetjening, når de på et tidspunkt skal melde flytning, søge optagelse på en ungdomsuddannelse, søge om
        ungdomskort til bussen eller bestille et blåt sygesikringsbevis til udlandsrejsen.
      </p>
      <p>Hvis dit barn er fyldt, eller snart fylder, 15 år,  kan du hjælpe.<br/>
        Snak med dit barn om digital selvbetjening - måske kan I sammen oprette NemID og tjekke den digitale postkasse.<br/>
        Husk, at man skal bruge pas eller sygesikringsbevis samt dåbs- eller navneattest for at oprette NemID.
      </p>
      <p> Tal med dit barn om, at når de tjekker deres digitale postkasse, har de mulighed for at give læseadgang til deres forældre.
        Det kan være rart at dele både ansvar og information med dem. Jeres barn kan også bede om at få en sms, når der er
        post i den digitale postkasse. Det gør det hele lidt lettere, for mobilen er jo altid ved hånden.
      </p>
      <p>Her på hjemmesiden kan I både finde de nødvendige links samt humoristiske indslag omkring konsekvenserne af ikke
        at have styr på digital selvbetjening.</p>
      <p>Desuden kan I finde et demomiljø, hvor I sammen kan øve jer i Digital Selvbetjening.</p>
      <p>Vi ses på nettet!</p>
      <p>
        Med venlig hilsen<br>
        Kommunen
      </p>
    </section>
  <a href="#top" du-smooth-scroll class="static-page--top-link">Til toppen af siden</a>
  </div>
</div>
