<div class="static-page--header" id="top">
  <h1 class="static-page--heading">Sidste Omgang, 2 lektioner</h1>
</div>
<div class="static-page--content-wrapper">
  <nav class="static-page--nav">
    <div class="static-page--nav-item-wrapper">
      <a href="/#/for-laererne" class="static-page--nav-item">For lærerne</a>
      <a href="/#/for-laererne/digital-parathed" class="static-page--nav-sub-item">Digital parathed (1 lektion)</a>
      <a href="/#/for-laererne/sidste-omgang" class="static-page--nav-sub-item is-active">Sidste omgang (2 lektioner)</a>
      <a href="/#/for-laererne/farvel-forvalt-lingo" class="static-page--nav-sub-item">#FarvelForvaltLingo (4 lektioner)</a>
    </div>
  </nav>
  <div class="static-page--content">
    <h2 class="static-page--sub-heading">Sidste Omgang (2 lektioner)</h2>
    <p class="static-page--lead">Straksudstedelse af NemID på nærmeste lokalbibliotek samt øvelser</p>
    <div class="static-page--summary">
      <p><strong>Varighed:</strong> 2 lektioner</p>
      <p><strong>Tværfaglige muligheder:</strong> Samfundsfag, dansk.</p>
    </div>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Nødvendige redskaber til gennemførelse</h3>
      <ul class="static-page--list">
        <li class="static-page--list-item">
          Underviseren skal booke en tid til sin klasse - linket til booking åbner på CFL’s hjemmeside d. 1/6 2014 og efterfølgende på digitalabc.dk.
        </li>
        <li class="static-page--list-item">
          Da nogle elever sandsynligvis allerede har NemID, kan de lave Digitalparathedsquiz og analoge postkort imens, som biblioteket stiller til rådighed.
        </li>
        <li class="static-page--list-item">
          Der er bemanding til at udstede NemID til 20 elever pr. time (svarende til en klasse hvor nogle allerede har NemID).
        </li>
        <li class="static-page--list-item">
          Skolen skal selv arrangere evt. transport til det valgte lokalbibliotek.· OBS! Eleverne SKAL medbringe gyldigt pas eller sygesikring samt dåbs- eller navneattest.
        </li>
      </ul>
    </section>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Øvelsen</h3>
      <p>
        Borgerservice og Biblioteker tilbyder straksudstedelse af NemID på jeres nærmeste lokalbibliotek i uge 38-39.
        Eleverne kan desuden få hjælp til at oprette deres digitale postkasse.
      </p>
      <p>VIGTIGT: Eleverne skal medbringe pas eller sygesikringsbevis og navneattest.</p>
      <p>
        Man kan booke en klasse ad gangen, som får en times betjening. De, der venter på at komme til, kan bruge tiden på
        at skrive en sidste analog hilsen fra dem selv og Kommunen, til en de holder af og vil minde om, at man skal
        oprette sit NemID og sin digitale postkasse. Det kan de gøre på fortrykte postkort, hvor der står: ”Vi kan ikke
        blive ved med at mødes sådan her”. Biblioteket sørger for afsendelsen.
      </p>
      <p>
        Der vil også være adgang til pc'er, hvor eleverne kan lave Digitalparathedsquiz, der giver dem viden om relevans
        og omfang af digital selvbetjening efter november 2014.
      </p>
    </section>
    <div data-ng-include="" include-replace src="'/partials/for-laererne/snippets/motivation.html'"></div>
    <div data-ng-include="" include-replace src="'/partials/for-laererne/snippets/oevelsens-placering.html'"></div>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Læringsmål Samfundsmæssigt</h3>
      <ul class="static-page--list">
        <li class="static-page--list-item">
          Eleverne opnår kendskab til og viden om digital selvbetjening, bl.a. NemID og Digital Post, og hvorfor det er relevant og vigtigt for dem.
        </li>
        <li class="static-page--list-item">
          Eleverne får viden om, at digitale kanaler er den fremtidige kommunikations-form med det offentlige.
        </li>
        <li class="static-page--list-item">
          Eleverne reflekterer over egne eller andres behov for kontakt med det offentlige.
        </li>
      </ul>
    </section>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Socialt/samfundsmæssigt</h3>
      <ul class="static-page--list">
        <li class="static-page--list-item">
          Eleverne oplever en mulighed for at medvirke i systemet.
        </li>
        <li class="static-page--list-item">
          Eleverne reflekterer fælles over betydningen af digitale kommunikationsteknologier for eget liv og fællesskab.
        </li>
      </ul>
    </section>
    <a href="/#/for-laererne/sidste-omgang#top" data-scroll class="static-page--top-link">Til toppen af siden</a>
  </div>
</div>