<div class="static-page--header">
  <h1 class="static-page--heading">Konkurrencen</h1>
</div>
<div class="static-page--content-wrapper">
  <div data-ng-include="" include-replace src="'/partials/konkurrencen/snippets/static-page-nav.html'"></div><!--
--><div class="static-page--content">
    <h2 class="static-page--sub-heading">Konkurrencen</h2>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Vind et klassesæt af Chromebooks og bliv ”Aarhusmestre i Digital Selvbetjening”.</h3>
      <p>
        Hvad betyder det at være digital borger i 2015?
        Filmene om Mikkel viser, hvor galt det kan gå, hvis unge ikke bruger Digital Selvbetjening.
        <a href="/#/video">Se filmene her</a>, og giv os så jeres bud på en situation, hvor I tror, I får brug for Digital Selvbetjening.
      </p>

      <h3 class="static-page--paragraph-heading">Hvad kan vi vinde?</h3>
      <p>Et klassesæt med Chromebooks og en masse guf.</p>

      <h3 class="static-page--paragraph-heading">Hvad skal vi gøre?</h3>
      <ul class="static-page--list">
        <li class="static-page--list-item">Producér en kort film om, hvorfor Digital Selvbetjening er relevant for jer – se eksempler på <a href="http://www.facebook.com/tjekpaanemid">www.facebook.com/tjekpaanemid</a>.</li>
        <li class="static-page--list-item">Lav en reportage, hvor I reflekterer over Digital Selvbetjening generelt og fortæl os, hvorfor netop I er Aarhusmestre i Digital Selvbetjening.</li>
      </ul>

      <h3 class="static-page--paragraph-heading">Hvordan tilmelder vi os?</h3>
      <p>Jeres lærer skal melde jer til konkurrencen: Send en mail til hsc@aarhus.dk med navnet på jeres klasse, skole og kontaktperson samt kontaktoplysninger.
        Tilmeldingsfristen er d. 15. september 2015. ”Aarhusmestre i Digital Selvbetjening” er for alle udskolingsklasser i Aarhus Kommune.</p>

      <h3 class="static-page--paragraph-heading">Hvornår er der deadline?</h3>
      <p>Alle bidrag skal være inde senest d. 9. oktober 2015.</p>

      <h3 class="static-page--paragraph-heading">Her kan I også finde os (og hinanden)</h3>
      <p>I kan løbende følge andre klassers bidrag på Digital ABC’s Facebookside, på Instagram under #digitalabc samt #farvelforvaltlingo og på YouTube.</p>

      <h3 class="static-page--paragraph-heading">Vil du gerne vide mere?</h3>
      <p>Find mere information under undervisningsmaterialer og <a href="/#/undervisningsmateriale/lav-din-egen-film">”Lav din egen film”</a>.</p>
    </section>
    <a href="#top" du-smooth-scroll class="static-page--top-link">Til toppen af siden</a>
  </div>
</div>