<div class="static-page--page-top" id="top"></div>
<nav class="static-page--nav">
  <div class="static-page--nav-item-wrapper">
    <a href="/#/om-projektet" class="nav--item" data-ng-class="setActiveMenuItem('/nyttige-links')">Nyttige links</a>
    <a href="https://service.nemid.nu/dk-da/bestil_nemid" class="nav--sub-item" target="_blank">Opret NemID - Husk pas!</a>
    <a href="https://www.borger.dk/Sider/Er-du-tilmeldt-Digital-Post.aspx" class="nav--sub-item" target="_blank">Tilmeld Digital Postkasse - Kræver NemID!</a>
    <a href="http://www.digamb.dk/www.aarhus.dk/" class="nav--sub-item" target="_blank">aarhus.dk - Demomiljø</a>
    <a href="http://borger.digamb.dk/" class="nav--sub-item" target="_blank">borger.dk - Demomiljø</a>
  </div>
</nav>