<div class="static-page--page-top" id="top"></div>
<nav class="static-page--nav">
  <div class="static-page--nav-item-wrapper">
    <a href="/#/nyttige-links" class="nav--item" data-ng-class="setActiveMenuItem('/nyttige-links')">Nyttige links</a>
    <a href="http://demoborgerdk.azurewebsites.net" class="nav--sub-item" target="_blank">Demomiljø</a>
    <a href="https://service.nemid.nu/dk-da/bestil_nemid" class="nav--sub-item" target="_blank">Opret NemID - Husk pas!</a>
    <a href="https://www.aarhus.dk/da/borger/Digitalisering/Hotline-for-digital-selvbetjening.aspx" class="nav--sub-item" target="_blank">Hjælp til digital selvbetjening</a>
    <a href="https://www.facebook.com/tjekpaanemid" class="nav--sub-item" target="_blank">Facebook.com/TjekPaaNemID</a>
    <a href="http://www.youtube.com/user/TjekPaaNemID" class="nav--sub-item" target="_blank">Youtube.com/user/TjekPaaNemID</a>
    <a href="http://digitale-fodspor.dk" class="nav--sub-item" target="_blank">digitale-fodspor.dk</a>
  </div>
</nav>