<div class="static-page--page-top" id="top"></div>
<nav class="static-page--nav">
  <div class="static-page--nav-item-wrapper">
    <a href="/#/nyttige-links" class="nav--item" data-ng-class="setActiveMenuItem('/nyttige-links')">Nyttige links</a>
    <a href="https://service.nemid.nu/dk-da/bestil_nemid" class="nav--sub-item" target="_blank">Opret NemID - Husk pas!</a>
    <a href="https://www.borger.dk/Sider/Er-du-tilmeldt-Digital-Post.aspx" class="nav--sub-item" target="_blank">Tilmeld Digital Postkasse - Kræver NemID!</a>
    <a href="https://www.facebook.com/tjekpaanemid" class="nav--sub-item" target="_blank">Facebook</a>
    <a href="http://www.youtube.com/channel/UCV9wGC0krn_W54oVBOuUqug" class="nav--sub-item" target="_blank">Youtube</a>
  </div>
</nav>