<div class="static-page--page-top" id="top"></div>
<nav class="static-page--nav">
  <div class="static-page--nav-item-wrapper">
    <a href="/#/grafisk-materiale" class="nav--item" data-ng-class="setActiveMenuItem('/grafisk-materiale')">Grafisk materiale</a>
    <a href="/assets/poster-print.pdf" class="nav--sub-item" target="_blank">Download plakat (PDF, 1 MB)</a>
    <a href="/assets/movieposters-print.pdf" class="nav--sub-item" target="_blank">Download filmplakater (PDF, 56 MB)</a>
    <a href="/assets/postcard-print.pdf" class="nav--sub-item" target="_blank">Download postkort (PDF, 1 MB)</a>
  </div>
</nav>