/**
 *
 * Mixins
 *
 */


@mixin strip-list-styles() {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}


@mixin strip-link-styles($color:inherit) {
  &:link {
    color: $color;
    text-decoration: none;
  }

  &:visited {
    color: $color;
    text-decoration: none;
  }

  &:hover {
    color: $color;
    text-decoration: none;
  }

  &:focus {
    color: $color;
    text-decoration: none;
  }
}