<div class="static-page--header">
  <h1 class="static-page--heading">Lav din egen film</h1>
</div>
<div class="static-page--content-wrapper">
  <div data-ng-include="" include-replace src="'/partials/undervisningsmateriale/snippets/static-page-nav.html'"></div><!--
--><div class="static-page--content">
    <h2 class="static-page--sub-heading">Lav din egen film</h2>
    <div class="static-page--summary">
      <p><strong>Varighed:</strong> 4 lektioner, gerne fordelt på 1+3</p>
      <p><strong>Tværfaglige muligheder:</strong> Samfundsfag, dansk, mediefag</p>
    </div>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Nødvendige redskaber til gennemførelse</h3>
      <ul class="static-page--list">
        <li class="static-page--list-item">
          Lektion 1: Smartboard, klassesæt af bærbare med netadgang (som skal have netadgang for at kunne tilgå quiz med
          mulighed for oprettelse af NemID og valg af livssituation i DigAmb.dk). Elever skal medbringe gyldigt pas for at
          oprette NemID <a href="/#/undervisningsmateriale/digital-parathed#pas"><strong>*</strong></a>
        </li>
        <li class="static-page--list-item">
          Lektion 2-4: Smartboard, klassesæt af bærbare med netadgang, mobile enheder til optagelse af film, internetforbindelse,
          redigeringsprogram (f.eks. Windows Movie Maker eller iMovie), tykt pap og papir til printede/tegnede figurer samt pinde
          og kraftig lim eller tape til figurer.
        </li>
      </ul>
    </section>
    <section class="static-page--section">
      <div data-ng-include="" include-replace src="'/partials/undervisningsmateriale/snippets/motivation.html'"></div>
      <p>
        En væsentlig barriere for mange unge i forhold til digital selvbetjening er, at de ikke ved, det er relevant for dem.
        Derfor har vi udvalgt fem livssituationer - hvor digital selvbetjening er nødvendig for unge - og animeret dem. Se filmene her på siden.
      </p>
      <p>
        I denne øvelse kan de unge selv vælge blandt de mange digitale selvbetjeningsløsninger, der findes, og lave deres
        egen 60 sekunders film. På den måde får de viden om, hvor omfattende digital selvbetjening virkelig er, samtidig med at de øver sig i at
        producere manus og film.
      </p>
    </section>
    <div data-ng-include="" include-replace src="'/partials/undervisningsmateriale/snippets/oevelsens-placering.html'"></div>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Øvelsen</h3>
      <ul class="static-page--list">
        <li class="static-page--list-item">
          (Lektion1) Start med at tage Digitalparathedsquiz her på siden, se filmene og
          læs info om Digital Selvbetjening. Eleverne kan gå ind og like Facebooksiden og
          derefter modtage relevant information om digital selvbetjening, stille spørgsmål og
          dele viden.
        </li>
        <li class="static-page--list-item">
          (Lektion 2-4) Inddel eleverne i grupper af passende størrelse (efter
          lærerens vurdering).
        </li>
        <li class="static-page--list-item">
          Hav bærbare med netadgang og mobile enheder (mobil/iPad) klar samt opgaven
          på smartboardet.
        </li>
        <li class="static-page--list-item">
          Sørg for at filmredigeringsprogrammet ligger på den mobile enhed.
        </li>
        <li class="static-page--list-item">
          Gå ind på <a href="http://www.digamb.dk">www.digamb.dk</a> – her findes demoer af alle
          selvbetjeningsløsninger for Aarhus Kommune.
        </li>
        <li class="static-page--list-item">
          Afprøv og kig på selvbetjeningsløsningerne. Eleverne kan roligt skrive og udfylde,
          da det er et demomiljø - de er ikke inde i de rigtige selvbetjeningsløsninger!
          OBS! Demomiljøet er kedeligt og afspejler de virkelige selvbetjeningsløsninger.
        </li>
        </li>
        <li class="static-page--list-item">
          Hver gruppe vælger en livssituation og selvbetjeningsløsning, hvor man skal
          bruge digital selvbetjening.
        </li>
        </li>
        <li class="static-page--list-item">
          Eleverne udarbejder et manuskript, hvor hovedpersonen er Mikkel, men
          hvor livssituationen og konsekvenserne af manglende digital selvbetjening
          afhænger af gruppens valg og kreative fortælling. Manuskriptet skal
          indeholde alle relevante elementer for at fortælle en sammenhængende
          historie, f.eks. location, hvem og hvad er til stede i scenen, hvad
          karaktererne laver og hvad karaktererne siger. Filmen skal også have en beskrivende titel.
        </li>
        </li>
        <li class="static-page--list-item">
          Figurerne printes, klippes ud og monteres på pinde.
        </li>
        </li>
        <li class="static-page--list-item">
          Rollerne fordeles.
        </li>
        </li>
        <li class="static-page--list-item">
          Filmen optages – måske flere gange.
        </li>
        <li class="static-page--list-item">
          Indtaling af evt. speaks, klipning og redigering.
        </li>
        <li class="static-page--list-item">
          Filmene eksporteres til et almindeligt filmformat, f.eks. .mov, .avi,
          eller .mpeg.
        </li>
        <li class="static-page--list-item">
          Eleverne viser filmene for hinanden i klassen og uploader dem til
          <a href="http://facebook.com/tjekpaanemid">Facebooksiden</a> - dette er et frivilligt element, men anbefales da det
          dermed bliver tilgængeligt for alle andre elever i Aarhus og resten af landet.
        </li>
      </ul>
    </section>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Læringsmål Samfundsmæssigt</h3>
      <ul class="static-page--list">
        <li class="static-page--list-item">
          Eleverne opnår kendskab til og viden om digital selvbetjening, bl.a. NemID og
          Digital Post, og hvorfor det er relevant og vigtigt for dem.
        </li>
        <li class="static-page--list-item">
          Eleverne får viden om, at digitale kanaler er den fremtidige
          kommunikationsform med det offentlige.
        </li>
        <li class="static-page--list-item">
          Eleverne reflekterer over, hvor de oplever barrierer i forhold til digital
          selvbetjening.
        </li>
      </ul>
    </section>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Sprogligt</h3>
      <ul class="static-page--list">
        <li class="static-page--list-item">
          Eleverne arbejder med at fortælle en sammenhængende historie i et
          kort, filmisk format.
        </li>
      </ul>
    </section>
    <section class="static-page--section">
      <h3 class="static-page--paragraph-heading">Socialt/samfundsmæssigt</h3>
      <ul class="static-page--list">
        <li class="static-page--list-item">
          Eleverne oplever en mulighed for at fortolke og påvirke systemet.
        </li>
        <li class="static-page--list-item">
          Eleverne reflekterer fælles over betydningen og omfanget af
          digitaliseringen for dem selv og samfundet generelt.
        </li>
      </ul>
    </section>
    <section class="static-page--section" id="pas">
      <p><strong>*</strong> Er der flere elever, som ikke har gyldigt pas, kan underviseren henvende sig til nærmeste 
      Borgerservice eller bibliotek.</p>
    </section>
    <a href="#top" du-smooth-scroll class="static-page--top-link">Til toppen af siden</a>
  </div>
</div>
