<div class="static-page--header">
  <h1 class="static-page--heading">Nyttige links</h1>
</div>
<div class="static-page--content-wrapper">
  <div data-ng-include="" include-replace src="'/partials/nyttige-links/snippets/static-page-nav.html'"></div><!--
--><div class="static-page--content" id="top">
    <h2 class="static-page--sub-heading">Nyttige links</h2>
    <section class="static-page--section">
      <p>
        I menuen finder du de to links, som fører dig videre ud i digitaliseringen -  herfra kan du nemlig komme videre
        til oprettelse af NemID og Digital Post.
      </p>
      <p>
        Husk, at du skal bruge dit pas for at kunne oprette NemID!
      </p>
    </section>
  </div>
</div>
