/* Layout
   ================================================================================================================== */

$layout-max-width:    75em;
$border-radius:       .4em;

// We need to handle the inline-block spacing
%grid-markup-fix {
  margin-right: -4px;
}


/* Colors
   ================================================================================================================== */


/* Link colors
   ================================================================================================================== */


/* Spacing
   ================================================================================================================== */


/* Misc
   ================================================================================================================== */


